<div class="abilities-card">
    <div class="abilities-card-image-container">
        <img class="abilities-card-image" src="{{card.img}}" />
        <div class="abilities-card-type"><div class="abilities-card-type-text">{{card.system.type}}</div></div>
    </div>
    <div class="abilities-text-container">
        <div class="abilities-card-title">{{card.name}}</div>
        <div class="abilities-card-description">{{{card.system.description}}}</div>
        <div class="abilities-card-abilities">
            {{#each card.system.abilities as |ability key|}}
                <div class="abilities-card-ability" data-action="useAbility" data-feature="{{ability.uuid}}" data-type="{{ability.system.type}}">
                    <span class="abilities-text"><strong>{{ability.name}}</strong></span>
                    {{{ability.system.description}}}
                </div>
            {{/each}}
        </div>
    </div>
</div>