<fieldset class="one-column activities-grouping">
    <legend>{{localize (concat "DAGGERHEART.APPLICATIONS.Downtime." category ".moves") max=nrChoices.max current=nrChoices.current}}</legend>

    <div class="activities-container">   
        {{#each moves as |move key|}}
            <a class="activity-container" data-action="selectMove" data-category="{{../category}}" data-move="{{key}}" data-tooltip="{{concat "#" ../category "#" key}}">
                <div class="activity-inner-container">
                    <i class="{{#if move.selected}}fa-solid{{else}}fa-regular{{/if}} fa-circle activity-marker"></i>
                    <div class="activity-select-section">
                        <i class="{{move.icon}} activity-icon"></i>
                        <div>{{move.name}}</div>
                    </div> 
                </div>
                {{#if move.selected}}<div class="activity-selected-marker">{{move.selected}}</div>{{/if}}
            </a>
        {{/each}}
    </div>
</fieldset>