<div>
    <header>
        {{!-- {{formField fields.name value=source.name label="Name" name="name" rootId=partId}} --}}
        <nav class="sheet-tabs tabs">
            {{#each tabs as |tab|}}
                <a class="{{tab.cssClass}}" data-action="tab" data-group="{{tab.group}}" data-tab="{{tab.id}}">
                    <i class="{{tab.icon}}"></i>
                    <label>{{localize tab.label}}</label>
                </a>
            {{/each}}
        </nav>
    </header>
    <section>
        <div class="tab {{this.tabs.base.cssClass}}" data-group="primary" data-tab="base">
            <fieldset class="action-category">
                <legend class="action-category-label" data-action="toggleSection" data-section="identity">
                    <div>Identity</div>
                </legend>
                <div class="action-category-data open">
                    {{formField fields.name value=source.name label="Name" name="name"}}
                    {{formField fields.img value=source.img label="Icon" name="img"}}
                    {{formField fields.actionType value=source.actionType label="Type" name="actionType" localize=true}}
                    {{formField fields.chatDisplay value=source.chatDisplay name="chatDisplay"}}
                </div>
            </fieldset>
            <fieldset class="action-category">
                <legend class="action-category-label" data-action="toggleSection" data-section="identity">
                    <div>Description</div>
                </legend>
                <div class="action-category-data open">
                    {{formInput fields.description value=source.description name="description" }}
                </div>
            </fieldset>
        </div>
        <div class="tab {{this.tabs.config.cssClass}}" data-group="primary" data-tab="config">
            {{#unless isNPC}}
            {{> 'systems/daggerheart/templates/views/actionTypes/uses.hbs' fields=fields.uses.fields source=source.uses}}
            {{> 'systems/daggerheart/templates/views/actionTypes/cost.hbs' fields=fields.cost.element.fields source=source.cost}}
            {{/unless}}
            {{#if fields.target}}{{> 'systems/daggerheart/templates/views/actionTypes/range-target.hbs' fields=(object range=fields.range target=fields.target.fields) source=(object target=source.target range=source.range)}}{{/if}}
        </div>
        <div class="tab {{this.tabs.effect.cssClass}}" data-group="primary" data-tab="effect">
            {{#if fields.roll}}{{> 'systems/daggerheart/templates/views/actionTypes/roll.hbs' fields=fields.roll.fields source=source.roll}}{{/if}}
            {{#if fields.save}}{{> 'systems/daggerheart/templates/views/actionTypes/save.hbs' fields=fields.save.fields source=source.save}}{{/if}}
            {{#if fields.damage}}{{> 'systems/daggerheart/templates/views/actionTypes/damage.hbs' fields=fields.damage.fields.parts.element.fields source=source.damage}}{{/if}}
            {{#if fields.healing}}{{> 'systems/daggerheart/templates/views/actionTypes/healing.hbs' fields=fields.healing.fields source=source.healing}}{{/if}}
            {{#if fields.resource}}{{> 'systems/daggerheart/templates/views/actionTypes/resource.hbs' fields=fields.resource.fields source=source.resource}}{{/if}}
            {{#if fields.documentUUID}}{{> 'systems/daggerheart/templates/views/actionTypes/uuid.hbs' fields=fields.documentUUID source=source.documentUUID}}{{/if}}
             {{#if fields.effects}}{{> 'systems/daggerheart/templates/views/actionTypes/effect.hbs' fields=fields.effects.element.fields source=source.effects}}{{/if}}
        </div>
    </section>
</div>