<div class="flex-col">
    <div class="levelup-title-container">Level {{activeLevel}}</div>
    <div class="levelup-section">
        {{#each data}}
            {{> "systems/daggerheart/templates/views/parts/level.hbs" data=this }}
        {{/each}}
        {{!-- {{#each levelupConfig as |configData key|}}
            {{> "systems/daggerheart/templates/views/parts/level.hbs" configData=configData levelData=(lookup ../levelData key) completedSelection=../completedSelection  activeTier=../activeTier activeLevel=../activeLevel category=key }}
        {{/each}} --}}
    </div>
    <footer>

        {{#if (eq activeLevel changedLevel )}}
            <button data-action="finishLevelup" {{#if (not completedSelection)}}disabled{{/if}}>{{localize "DAGGERHEART.Application.LevelUp.TakeLevelUp"}}</button>
        {{else}}
            <button data-action="advanceLevel" {{#if (not completedSelection)}}disabled{{/if}}>{{localize "DAGGERHEART.Application.LevelUp.AdvanceLevel" level=(add activeLevel 1)}}</button>
        {{/if}}
        <button data-action="close">{{localize "DAGGERHEART.Application.Cancel"}}</button>
    </footer>
</div>