<div>
    <section class="multiclass-container flexcol">
        <h2 style="margin-top: 0;">{{localize "DAGGERHEART.Application.Multiclass.ClassSection.Title"}}</h2>
        <div class="multiclass-class-choices">
            {{#each classChoices}}
                <div class="multiclass-class-choice {{#if (eq ../data.class.name this.name)}}selected{{/if}} {{#if (and ../data.class (not (eq ../data.class.name this.name)))}}inactive{{/if}}" data-action="selectClass" data-class="{{this.uuid}}">
                    <img src="{{this.img}}" />
                    <div>{{this.name}}</div>
                </div>
            {{/each}} 
        </div>
        <h2 class="multiclass-category-title">{{localize "DAGGERHEART.Application.Multiclass.SubclassSection.Title"}}</h2>
        <div class="multiclass-spaced-choices">
            {{#each subclassChoices}}
                <div class="multiclass-class-choice {{#if (eq ../data.subclass.name this.name)}}selected{{/if}} {{#if (and ../data.subclass (not (eq ../data.subclass.name this.name)))}}inactive{{/if}}" data-action="selectSubclass" data-subclass="{{this.uuid}}">
                    <img src="{{this.img}}" />
                    <div>{{this.name}}</div>
                </div>
            {{/each}}
        </div>
        <h2 class="multiclass-category-title">{{localize "DAGGERHEART.Application.Multiclass.DomainSection.Title"}}</h2>
        <div class="multiclass-spaced-choices">
        {{#each domainChoices}}
            <div 
                class="multiclass-class-choice {{#if (eq ../data.domain.name this.name)}}selected{{/if}} {{#if (and ../data.domain (not (eq ../data.domain.name this.name)))}}inactive{{/if}} {{#if this.disabled}}disabled{{/if}}" 
                data-action="selectDomain" data-domain="{{this.id}}" title="{{#if this.disabled}}{{localize "DAGGERHEART.Application.Multiclass.AlreadyOwnedDomain"}}{{/if}}">
                <img src="{{this.img}}" />
                <div>{{this.name}}</div>
            </div>
        {{/each}}
        </div>
    </section>
    <footer>
        <button data-action="finish" {{#if this.disabledFinish}}disabled{{/if}}>{{localize "DAGGERHEART.Application.Multiclass.Finish"}}</button>
        <button data-action="close">{{localize "DAGGERHEART.Application.Multiclass.Close"}}</button>
    </footer>
</div>