
<div class="npc-roll-dialog-container">
    <div class="selection-container">
        <div class="dice-container">
            <div class="dice-inner-container">
                <img src="icons/svg/d20-grey.svg" />
                <div class="dice-number">d20</div>
            </div>
            <div class="advantage-container">
                <button class="advantage-button {{#if this.advantage}}active{{/if}} advantage">{{localize "DAGGERHEART.General.Advantage.Full"}}</button>
                <button class="advantage-button {{#if (eq this.advantage false)}}active{{/if}} disadvantage">{{localize "DAGGERHEART.General.Disadvantage.Full"}}</button>
            </div>
        </div>
        <div class="roll-dialog-experience-container">
            {{#each this.experiences as |experience|}}
                <button class="experience-chip {{#if experience.selected}}active{{/if}}" data-action="selectExperience" id="{{id}}">{{experience.name}} {{experience.value}}</button>
                {{!-- <div class="roll-dialog-chip {{#if experience.selected}}selected{{/if}}" data-action="selectExperience" data-key="{{key}}">
                    <span>{{experience.name}}</span>
                    <i class="fa-solid fa-circle-check"></i>
                </div> --}}
            {{/each}}
        </div>
    </div>
    <footer>
        <button class="roll-button">Roll</button>
    </footer>
</div>