<div class="daggerheart chat domain-card">
    <div class="domain-card-title">
        <h2>{{name}}</h2>
    </div>
    <img src="{{img}}" />
    <div>{{{description}}}</div>
    <footer class="ability-card-footer">
        {{#each actions as |action index|}}
            <button class="ability-use-button" data-index="{{index}}">
                {{action.name}}
            </button>
            {{#if action.cost.value}}<div class="ability-card-action-cost">{{action.cost.value}} {{action.cost.type}}</div>{{/if}}            
        {{/each}}
    </footer>
</div>