<div class="daggerheart chat downtime">
    <h2 class="downtime-title-container">
        <div>{{this.player}} {{localize "DAGGERHEART.UI.Chat.deathMove.title"}}</div>
        <div class="downtime-subtitle">{{this.title}}</div>
    </h2>
    <img class="downtime-image" src="{{this.img}}" />
    <div>{{{this.description}}}</div>
</div>