<section
    class='tab {{tabs.settings.cssClass}} {{tabs.settings.id}}'
    data-tab='{{tabs.settings.id}}'
    data-group='{{tabs.settings.group}}'
>
    <fieldset class="two-columns">
        <legend>{{localize tabs.settings.label}}</legend>

        <span>{{localize "DAGGERHEART.Sheets.DomainCard.Type"}}</span>
        {{formField systemFields.type value=source.system.type localize=true}}
        <span>{{localize "DAGGERHEART.Sheets.DomainCard.Foundation"}}</span>
        {{formField systemFields.foundation value=source.system.foundation }}
        <span>{{localize "DAGGERHEART.Sheets.DomainCard.Domain"}}</span>
        {{formField systemFields.domain value=source.system.domain localize=true}}
        <span>{{localize "DAGGERHEART.Sheets.DomainCard.Level"}}</span>
        {{formField systemFields.level value=source.system.level data-dtype="Number"}}
        <span>{{localize "DAGGERHEART.Sheets.DomainCard.RecallCost"}}</span>
        {{formField systemFields.recallCost value=source.system.recallCost data-dtype="Number"}}
    </fieldset>
</section>