<div class="levelup-container {{#if (not data.active)}}disabled{{/if}}">
    <fieldset class="levelup-inner-container">
        <legend class="levelup-legend">
            {{data.label}}
        </legend>
                        
        <div class="levelup-info">{{data.info}}</div>
        <div class="levelup-pretext">{{data.pretext}}</div>
        <div class="levelup-body">
            {{#each data.choices as |choice choiceKey|}}
                <div class="levelup-choice-row">
                    <div class="levelup-choice-row-inner">
                        {{#each choice.values as |value valueKey|}}
                            {{#times choice.cost}}
                                <div class="levelup-choice-input-container">
                                    <input 
                                        type="checkbox" 
                                        data-action="toggleBox"
                                        data-path="{{../path}}"
                                        data-level-attribute="{{@../key}}"
                                        {{checked ../selected}} 
                                        {{#if ../disabled}}disabled{{/if}}
                                    />
                                    {{#if (lt (add this 1) ../../cost)}}
                                        <i class="fa-solid fa-link"></i>
                                    {{/if}}
                                    {{#if ../locked}}
                                        <i class="fa-solid fa-lock"></i>
                                    {{/if}}
                                </div>
                            {{/times}}
                        {{/each}}
                    </div>
                    <div>{{localize choice.description}}</div>
                </div>
            {{/each}}
        </div>
        <div class="levelup-posttext">{{data.posttext}}</div>
    </fieldset>
</div>