<div class="old-sheet">
    <header>
        <div class="pc-sheet-header">
            <div class="class-info">
                    <div class="flexrow">
                        {{#if document.system.class.value}}
                            <div class="flexcol">
                                <h2 class="class-title flex0" data-action="viewObject" data-value="{{document.system.class.value.uuid}}" data-tab="guide">
                                    <img class="domain-image" src="{{domains.first}}" />
                                    <span>{{document.system.class.value.name}}</span>
                                    <img class="domain-image" src="{{domains.second}}" />
                                </h2>
                                <span class="domain-title flex0">
                                    <span>{{document.system.class.value.system.domains.[0]}}</span> 
                                    <span>and</span>
                                    <span>{{document.system.class.value.system.domains.[1]}}</span>
                            </div>
                        {{else}}
                            <div class="flexcol">
                                <h2 class="class-add-container class-title">Class <button data-action="selectClass"><i class="fa-solid fa-plus"></i></button></h2>
                            </div>
                        {{/if}}
                    </div>
            </div>
            <div class="general-info">
                <div class="flexrow">
                    <div class="flexcol">
                        <div class="flexrow">
                            <div class="flexrow">
                                <div class="general-input">
                                    <span class="general-title">{{localize "DAGGERHEART.Sheets.PC.Name"}}</span>
                                    <input name="name" value="{{document.name}}" type="text" style="padding-left: 50px;" />
                                </div>
                                <div class="general-input">
                                    <span class="general-title">{{localize "DAGGERHEART.Sheets.PC.Pronouns"}}</span>
                                    <input name="system.pronouns" value="{{document.system.pronouns}}" type="text" style="padding-left: 84px;" />
                                </div>
                                <div class="rest-container">
                                    <button data-action="takeShortRest" title="{{localize "DAGGERHEART.Sheets.PC.ShortRest"}}"><i class="fa-solid fa-chair"></i></button>
                                    <button data-action="takeLongRest" title="{{localize "DAGGERHEART.Sheets.PC.LongRest"}}"><i class="fa-solid fa-bed"></i></button>
                                </div>
                            </div>
                            <div class="level-container {{#if document.system.levelData.canLevelUp}}levelup{{/if}}" style="width: 30px; height: 30px;">
                                <div class="level-value-container">
                                    <input class="level-value {{#if document.system.levelData.canLevelUp}}levelup{{/if}}" value="{{document.system.levelData.level.changed}}" type="text" data-dtype="Number" />
                                    {{#if document.system.levelData.canLevelUp}}<div class="levelup-marker">*</div>{{/if}}
                                </div>
                                <img style="width: 30px; height: 30px;" src="systems/daggerheart/assets/AttributeShield.svg" />
                                <div data-action="levelup" class="level-title {{#if document.system.levelData.canLevelUp}}levelup{{/if}}">{{localize "DAGGERHEART.Sheets.PC.Level"}}</div>
                            </div>
                        </div>
                        <div class="flexrow">
                            {{#objectSelector title="Heritage" ids=(join document.system.community.uuid document.system.ancestry.uuid) values=(join document.system.community.name document.system.ancestry.name) titleFontSize=14 style="min-width: 272px;"}}
                                <button data-action="selectCommunity" class="option-select deeper"><i class="fa-solid fa-house-chimney"></i></button>
                                <button data-action="selectAncestry" class="option-select"><i class="fa-solid fa-user-large"></i></button>
                            {{/objectSelector}}
                            {{#objectSelector title="Subclass" ids=(join document.system.class.subclass.uuid) values=(join document.system.class.subclass.name) titleFontSize=14}}
                                <button data-action="selectSubclass" class="option-select" {{#if (not ../document.system.class.value)}}disabled{{/if}}><i class="fa-solid fa-fw fa-search"></i></button>
                            {{/objectSelector}}
                        </div>
                    </div>
                </div>
                <nav class="sheet-tabs tabs">
                    {{#each tabs.primary as |tab|}}
                        <a class="{{tab.cssClass}}" data-action="tab" data-group="{{tab.group}}" data-tab="{{tab.id}}">
                            <i class="{{tab.icon}}"></i>
                            <label>{{localize tab.label}}</label>
                        </a>
                    {{/each}}
                </nav>
            </div>
        </div>
    </header>
    <section class="sheet-body flexcol">
        <div class="tab features {{this.tabs.primary.features.cssClass}}" data-group="primary" data-tab="features">
            <div class="tab-container">
                <div class="flexcol tab-inner-container">
                    <div class="feature-sheet-body flexrow">
                        <div class="body-section flex2">
                            {{> "systems/daggerheart/templates/sheets/parts/defense.hbs" }}
                            {{> "systems/daggerheart/templates/sheets/parts/health.hbs" }}
                            {{> "systems/daggerheart/templates/sheets/parts/hope.hbs" }}
                            {{> "systems/daggerheart/templates/sheets/parts/gold.hbs" }}
                            {{> "systems/daggerheart/templates/sheets/parts/features.hbs" }}
                        </div>
                        <div class="body-section flex3">
                            {{> "systems/daggerheart/templates/sheets/parts/attributes.hbs" }}
                            {{> "systems/daggerheart/templates/sheets/parts/weapons.hbs" primaryWeapon=document.system.primaryWeapon secondaryWeapon=document.system.secondaryWeapon weaponBurden=document.system.getWeaponBurden proficiency=document.system.proficiency }}
                            {{> "systems/daggerheart/templates/sheets/parts/armor.hbs" armor=document.system.armor }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab domain-card-tab {{this.tabs.primary.loadout.cssClass}}" data-group="primary" data-tab="loadout">
            {{> "systems/daggerheart/templates/sheets/character/sections/loadout.hbs" abilities=this.abilities actor=this.document config=this.config  }}
        </div>
        <div class="tab {{this.tabs.primary.inventory.cssClass}}" data-group="primary" data-tab="inventory">
            {{> "systems/daggerheart/templates/sheets/character/sections/inventory.hbs" inventory=this.inventory }}
        </div>
        <div class="tab {{this.tabs.primary.story.cssClass}}" data-group="primary" data-tab="story">
            <div class="flexcol" style="height: 100%;">
                <div class="story-container flexrow">
                    <fieldset class="story-fieldset">
                        <legend class="story-legend">{{localize "DAGGERHEART.Sheets.PC.Story.BackgroundTitle"}}</legend>

                        {{editor document.system.story.background target="system.story.background" button=true }}
                    </fieldset>
                    <fieldset class="story-fieldset">
                        <legend class="story-legend">{{localize "DAGGERHEART.Sheets.PC.Story.AppearanceTitle"}}</legend>

                        {{editor document.system.story.appearance target="system.story.appearance" button=true }}
                    </fieldset>
                </div>
                <div class="story-container flexrow">
                    <fieldset class="story-fieldset">
                        <legend class="story-legend">{{localize "DAGGERHEART.Sheets.PC.Story.ConnectionsTitle"}}</legend>

                        {{editor document.system.story.connections target="system.story.connections" button=true }}
                    </fieldset>
                    <fieldset class="story-fieldset scars-container">
                        <legend class="story-legend">
                            {{localize "DAGGERHEART.Sheets.PC.Story.Scars.Title"}} 
                            <i data-action="addScar" class="fa-solid fa-plus icon-button {{#if (eq document.system.story.scars.length 5)}}disabled{{/if}}"></i>
                        </legend>

                        <div class="ability-choices">
                            {{#each document.system.story.scars as |scar index|}}
                                <div class="ability-chip {{#if (eq key ../selectedScar)}}selected{{/if}}" data-action="selectScar" data-value="{{index}}">
                                    <input type="text" name="system.story.scars.{{index}}.name" value="{{scar.name}}" />
                                    <button><i data-action="deleteScar" data-scar="{{index}}" class="fa-solid fa-x"></i></button>
                                </div>
                            {{/each}}
                        </div>
                        {{#with (lookup document.system.story.scars this.selectedScar)}}
                            {{#if this}}
                                    <div class="editor-form-group">
                                        <label>{{this.name}} - {{localize "Description"}}</label>
                                        {{editor this.description target=(concat "system.story.scars." ../selectedScar ".description") button=true}}
                                    </div>
                            {{/if}}
                        {{/with}}
                    </fieldset>
                </div>
            </div>
        </div>
    </section>
    <footer>

    </footer>
</div>