<section
    class='tab {{tabs.effects.cssClass}} {{tabs.effects.id}}'
    data-tab='{{tabs.effects.id}}'
    data-group='{{tabs.effects.group}}'
>
    <fieldset class="two-columns">
        <legend>{{localize "Effects"}}</legend>
        <span>{{localize "DAGGERHEART.Sheets.Feature.effects.addEffect"}}</span>
        <div class="nest-inputs">
            <select class="effect-select">
                {{selectOptions this.effectConfig.effectTypes selected=this.selectedEffectType labelAttr="name" localize=true blank=""}} 
            </select>
            <a>
                <i class="fa-solid fa-plus icon-button {{#if (not this.selectedEffectType)}}disabled{{/if}}" data-action="addEffect"></i>
            </a>
        </div>
    </fieldset>

    {{#each this.document.system.effects as |effect key|}}
        <fieldset class="two-columns">
            <legend>
                {{localize (concat 'DAGGERHEART.Effects.Types.' effect.type '.Name')}}
                <a>
                    <i class="fa-solid fa-trash icon-button flex0" data-action="removeEffect" data-effect="{{key}}"></i>
                </a>
            </legend>
            {{#if effect.applyLocationChoices}}
                <span>
                    {{localize "DAGGERHEART.Sheets.Feature.effects.applyLocation"}}
                </span>
                <select name="system.effects.{{key}}.appliesOn">
                    {{selectOptions effect.applyLocationChoices selected=effect.appliesOn localize=true}}
                </select>
            {{/if}}
            {{#if (eq effect.valueType ../this.effectConfig.valueTypes.numberString.id)}}
                {{#if (eq effect.type ../this.effectConfig.effectTypes.damage.id) }}
                    <span>{{localize "DAGGERHEART.Sheets.Feature.effects.value"}}</span>
                    <input type="text" name="system.effects.{{key}}.valueData.value" value="{{effect.valueData.value}}" />

                    <span>{{localize "DAGGERHEART.Sheets.Feature.effects.initiallySelected"}}</span>
                    <input type="checkbox" name="system.effects.{{key}}.initiallySelected" {{checked effect.initiallySelected}} />

                    <span>{{localize "DAGGERHEART.Sheets.Feature.effects.hopeIncrease"}}</span>
                    <input type="text" name="system.effects.{{key}}.valueData.hopeIncrease" value="{{effect.valueData.hopeIncrease}}" />
                {{else}}
                    <span>{{localize "DAGGERHEART.Sheets.Feature.effects.value"}}</span>
                    <input type="text" name="system.effects.{{key}}.valueData.value" value="{{effect.valueData.value}}" />
                {{/if}}
            {{/if}}
            {{#if (eq effect.valueType ../this.effectConfig.valueTypes.select.id)}}
                <span>
                    {{localize effect.valueData.fromValue}}
                </span>
                <select name="system.effects.{{key}}.valueData.fromValue" value="{{effect.valueData.fromValue}}">
                    {{selectOptions effect.options selected=effect.valueData.fromValue labelAttr="name" valueAttr="value" localize=true blank="" }} 
                </select>

                <span>
                    {{localize effect.valueData.name}}
                </span>
                <select name="system.effects.{{key}}.valueData.value" value="{{effect.valueData.value}}">
                    {{selectOptions effect.options selected=effect.valueData.value labelAttr="name" valueAttr="value" localize=true blank="" }} 
                </select>
            {{/if}}
        </fieldset>
    {{/each}}
</section>