<section
    class='tab {{tabs.settings.cssClass}} {{tabs.settings.id}}'
    data-tab='{{tabs.settings.id}}'
    data-group='{{tabs.settings.group}}'
>
    <fieldset class="two-columns">
        <legend>{{localize tabs.settings.label}}</legend>
        <span>{{localize "DAGGERHEART.Sheets.Feature.FeatureType"}}</span>
        {{formField systemFields.type value=source.system.type rootId=partId localize=true }}

        <span>{{localize "DAGGERHEART.Sheets.Feature.ActionType"}}</span>
        {{formField systemFields.actionType value=source.system.actionType rootId=partId localize=true }}

        <span>{{localize "DAGGERHEART.Sheets.Feature.RefreshType"}}</span>
        <div class="nest-inputs">
            <span><input type="text" name="system.refreshData.uses" value="{{source.system.refreshData.uses}}" data-dtype="Number" /></span>
            {{formField systemFields.refreshData.fields.type value=source.system.refreshData.type rootId=partId localize=true }}
        </div>
    </fieldset>

    <fieldset class="two-columns">
        <legend>{{localize "DAGGERHEART.Sheets.Feature.ValueType.Title"}}</legend>
        <span>{{localize "DAGGERHEART.Sheets.Feature.ValueType.Title"}}</span>
        <select name="system.featureType.type">
            {{selectOptions this.itemConfig.valueTypes selected=document.system.featureType.type labelAttr="name" localize=true}}
        </select>

        {{#if (eq document.system.featureType.type "dice")}}
            <span>{{localize "DAGGERHEART.Sheets.Feature.ValueType.Dice"}}</span>
            <select name="system.featureType.data.value">
                {{selectOptions this.dice selected=document.system.featureType.data.value }}
            </select>

            <span>{{localize "DAGGERHEART.Feature.Max"}}</span>
            <input type="text" name="system.featureType.data.max" value="{{document.system.featureType.data.max}}" />

            <span>{{localize "DAGGERHEART.Sheets.Feature.ValueType.Property"}}</span>
            <select name="system.featureType.data.property">
                {{selectOptions this.properties selected=document.system.featureType.data.property labelAttr="name" localize=true}}
            </select>
        {{/if}}
    </fieldset>
</section>