<div class="dice-roll daggerheart chat roll" data-action="expandRoll">
    {{#unless noTitle}}<div class="dice-flavor">{{damage.title}}</div>{{/unless}}
    <div class="dice-result">
        {{#each damage.roll as | roll index | }}
            <div class="dice-flavor">{{localize (concat 'DAGGERHEART.CONFIG.HealingType.' index '.name')}}</div>
            <div class="dice-formula">{{roll.formula}}</div>
            <div class="dice-tooltip">
                <div class="wrapper">
                    {{#each roll.parts}}
                        <section class="tooltip-part">
                                <div class="dice">
                                    <header class="part-header flexrow">
                                        <span class="part-formula">{{formula}}</span>
                                        <span class="part-total">{{total}}</span>
                                    </header>
                                    <ol class="dice-rolls">
                                        {{#each dice}}
                                            {{#each results}}
                                                <li class="roll die {{../dice}} min">{{result}}</li>
                                            {{/each}}
                                        {{/each}}
                                    </ol>
                                </div>
                                {{#if modifierTotal}}<div class="duality-modifier">{{#if (gt modifierTotal 0)}}+{{/if}}{{modifierTotal}}</div>{{/if}}
                                <div class="duality-result">Total: {{total}}</div>
                        </section>
                    {{/each}}
                </div>
            </div>
            <div class="dice-total">{{roll.total}}</div>
        {{/each}}
    </div>
</div>