<div class="roll-part target-section dice-roll" data-action="expandRoll">
    <div class="roll-part-header"><div><span>Target</span></div></div>
    {{#if (and targets.length (or (or (gt targetShort.hit 0) (gt targetShort.miss 0)) (and hasSave pendingSaves)))}}
        <div class="roll-part-extra on-reduced">
            <div class="wrapper">
                {{#if (or (gt targetShort.hit 0) (gt targetShort.miss 0))}}
                    <div class="target-hit-status">{{targetShort.hit}} {{#if (gt targetShort.hit 1)}}{{localize "DAGGERHEART.GENERAL.hit.single"}}{{else}}{{localize "DAGGERHEART.GENERAL.hit.plural"}}{{/if}}</div>
                    <div class="target-hit-status is-miss">{{targetShort.miss}} {{#if (gt targetShort.miss 1)}}{{localize "DAGGERHEART.GENERAL.miss.single"}}{{else}}{{localize "DAGGERHEART.GENERAL.miss.plural"}}{{/if}}</div>
                {{/if}}
                {{#if (and hasSave pendingSaves)}}<div class="target-pending-saves{{#if hasRoll}} is-absolute{{/if}}" data-tooltip="{{localize "DAGGERHEART.UI.Tooltip.pendingSaves"}}" data-tooltip-direction="UP"><i class="fa-solid fa-shield fa-lg fa-beat"></i></div>{{/if}}
            </div>
        </div>
    {{/if}}
    <div class="roll-part-content dice-result">
        <div class="dice-tooltip">
            <div class="wrapper">
                {{#if targets.length}}
                    <div class="target-selector">
                        <div class="roll-part-header"><div></div></div>
                        <div class="target-choice">
                            <div class="button-target-selection{{#if targetSelection}} target-selected{{/if}}" data-target-hit="true">{{localize "DAGGERHEART.UI.Chat.damageRoll.hitTarget"}}</div>
                            <div class="button-target-selection{{#unless targetSelection}} target-selected{{/unless}}">{{localize "DAGGERHEART.UI.Chat.damageRoll.currentTarget"}}</div>
                        </div>
                        <div class="roll-part-header"><div></div></div>
                    </div>
                {{/if}}
                {{#if (and hasSave @root.targetSelection pendingSaves)}}<div class="roll-part-extra roll-all-save-button">Reaction Roll All Targets<i class="fa-solid fa-shield fa-lg"></i></div>{{/if}}
                {{#each currentTargets}}
                    <div class="roll-target" data-token="{{id}}">
                        <img class="target-img" src="{{img}}">
                        <div class="target-data">
                            <div class="target-name" data-perm-id="{{actorId}}">{{name}}</div>
                            {{#if (and ../targetSelection ../hasRoll)}}
                                <div class="target-hit-status {{#if hit}}is-hit{{else}}is-miss{{/if}}">
                                    {{#if hit}}
                                        {{localize "DAGGERHEART.GENERAL.hit.single"}}
                                    {{else}}
                                        {{localize "DAGGERHEART.GENERAL.miss.single"}}
                                    {{/if}}
                                </div>
                            {{/if}}
                        </div>
                        {{#if (and ../hasSave hit @root.targetSelection)}}
                            <div class="target-save{{#if saved.result includeZero=true}} is-rolled{{/if}}" data-perm-id="{{actorId}}">
                                <i class="fa-solid {{#if saved.result includeZero=true}}{{#if saved.success}}fa-check{{else}}fa-xmark{{/if}}{{else}}fa-shield{{/if}} fa-lg"></i>
                            </div>
                        {{/if}}
                    </div>
                {{else}}
                    <i>{{localize "DAGGERHEART.GENERAL.noTarget"}}</i>
                {{/each}}
            </div>
        </div>
    </div>
</div>