{{#if (gt currentTargets.length 0)}}
<fieldset class="dice-roll daggerheart chat roll expanded" data-action="expandRoll">
    <legend class="dice-flavor">Targets</legend>
    <div class="dice-result">
        <div class="dice-tooltip">
            <div class="wrapper">
                <div class="target-selection">
                    <label class="button-target-selection{{#if @root.targetSelection}} target-selected{{/if}}" data-target-hit="true">{{localize "DAGGERHEART.Chat.DamageRoll.HitTarget"}}</label>
                    <label class="button-target-selection{{#unless @root.targetSelection}} target-selected{{/unless}}">{{localize "DAGGERHEART.Chat.DamageRoll.SelectedTarget"}}</label>
                </div>
                {{#if (and hasSave @root.targetSelection @root.hasHitTarget)}}
                    <button class="inner-button inner-button-right roll-all-save-button">Roll All <i class="fa-solid fa-shield"></i></button>
                {{/if}}
                <div class="target-section">
                    {{#each currentTargets as |target|}}
                        <div class="dice-total target-container {{#if target.hit}}hit{{else}}{{#if (not ../total.alternate)}}miss{{/if}}{{/if}}" data-token="{{target.id}}">
                                <img src="{{target.img}}" />
                                <div class="target-inner-container">
                                    {{#if (or ../directDamage (not @root.targetSelection))}}
                                        <div data-perm-id="{{target.actorId}}"><span>{{target.name}}</span></div>
                                    {{else}}
                                        {{#if target.hit}}{{localize "Hit"}}{{else}}{{#if (not ../total.alternate)}}{{localize "Miss"}}{{else}}?{{/if}}{{/if}}
                                    {{/if}}
                                </div>
                                {{#if (and ../hasSave target.hit @root.targetSelection)}}
                                <button class="target-save-container{{#if target.saved.result includeZero=true}} is-rolled{{/if}}" data-perm-id="{{target.actorId}}">
                                    {{!-- {{target.saved.result}} --}}
                                    <i class="fa-solid {{#if target.saved.result includeZero=true}}{{#if target.saved.success}}fa-check{{else}}fa-xmark{{/if}}{{else}}fa-shield{{/if}}">
                                    </i>
                                </button>
                                {{/if}}
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</fieldset>
{{/if}}