<section class='tab {{tabs.inventory.cssClass}} {{tabs.inventory.id}}' data-tab='{{tabs.inventory.id}}'
    data-group='{{tabs.inventory.group}}'>
    <div class="search-section">
        <div class="search-bar">
            <div class="icon">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <input type="search" name="search" class="search-inventory" placeholder="Search...">
        </div>
        <a class="filter-button">
            <i class="fa-solid fa-filter"></i>
        </a>
    </div>

    <div class="items-section">
        {{> 'daggerheart.inventory-items'
        title='TYPES.Item.weapon'
        type='weapon'
        collection=document.itemTypes.weapon
        isGlassy=true
        canCreate=true
        hideResources=true
        }}
        {{> 'daggerheart.inventory-items'
        title='TYPES.Item.armor'
        type='armor'
        collection=document.itemTypes.armor
        isGlassy=true
        canCreate=true
        hideResources=true
        }}
        {{> 'daggerheart.inventory-items'
        title='TYPES.Item.consumable'
        type='consumable'
        collection=document.itemTypes.consumable
        isGlassy=true
        canCreate=true
        }}
        {{> 'daggerheart.inventory-items'
        title='TYPES.Item.miscellaneous'
        type='miscellaneous'
        collection=document.itemTypes.miscellaneous
        isGlassy=true
        canCreate=true
        }}
    </div>

    <div class="currency-section">
        <div class="input">
            <span>{{localize this.inventory.currency.coins}}</span>
            {{formInput systemFields.gold.fields.coins value=source.system.gold.coins enriched=source.system.gold.coins
            localize=true toggled=true}}
        </div>
        <div class="input">
            <span>{{localize this.inventory.currency.handfulls}}</span>
            {{formInput systemFields.gold.fields.handfulls value=source.system.gold.handfulls
            enriched=source.system.gold.handfulls localize=true toggled=true}}
        </div>
        <div class="input">
            <span>{{localize this.inventory.currency.bags}}</span>
            {{formInput systemFields.gold.fields.bags value=source.system.gold.bags enriched=source.system.gold.bags
            localize=true toggled=true}}
        </div>
        <div class="input">
            <span>{{localize this.inventory.currency.chests}}</span>
            {{formInput systemFields.gold.fields.chests value=source.system.gold.chests
            enriched=source.system.gold.chests localize=true toggled=true}}
        </div>

    </div>
</section>