<section
    class='tab {{tabs.loadout.cssClass}} {{tabs.loadout.id}}'
    data-tab='{{tabs.loadout.id}}'
    data-group='{{tabs.loadout.group}}'
>
    <div class="search-section">
        <div class="search-bar">
            <div class="icon">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <input type="search" name="search" class="search-loadout" placeholder="Search...">
        </div>
        <a class="filter-button">
            <i class="fa-solid fa-filter"></i>
        </a>
        <button class="btn-toggle-view" data-action="toggleLoadoutView" data-value="{{this.abilities.loadout.listView}}">
            <span class="{{#if this.abilities.loadout.listView}}list-active{{/if}} list-icon">
                <i class="fa-solid fa-bars"></i>
            </span>
            <span class="{{#unless this.abilities.loadout.listView}}grid-active{{/unless}} grid-icon">
                <i class="fa-solid fa-grip"></i>
            </span>
        </button>
    </div>

    <div class="items-section">
        {{#if this.abilities.loadout.listView}}
        {{> 'systems/daggerheart/templates/sheets/global/partials/inventory-fieldset-items.hbs' title=(localize 'DAGGERHEART.Sheets.PC.Tabs.Loadout') type='domainCard' isGlassy=true cardView='list'}}
        {{else}}
        {{> 'systems/daggerheart/templates/sheets/global/partials/inventory-fieldset-items.hbs' title=(localize 'DAGGERHEART.Sheets.PC.Tabs.Loadout') type='domainCard' isGlassy=true cardView='card'}}
        {{/if}}

        {{#if this.abilities.loadout.listView}}
        {{> 'systems/daggerheart/templates/sheets/global/partials/inventory-fieldset-items.hbs' title=(localize 'DAGGERHEART.Sheets.PC.Tabs.Vault') type='domainCard' isVault=true isGlassy=true cardView='list'}}
        {{else}}
        {{> 'systems/daggerheart/templates/sheets/global/partials/inventory-fieldset-items.hbs' title=(localize 'DAGGERHEART.Sheets.PC.Tabs.Vault') type='domainCard' isVault=true isGlassy=true cardView='card'}}
        {{/if}}
        
        
    </div>
</section>