<fieldset class="left-main-container armor-section active-item-section item-section">
    <legend class="legend armor-container">
        <span>{{localize "DAGGERHEART.Sheets.PC.Armor.Title"}}</span>
        {{#if armor}}
            <div data-action="viewObject" data-value="{{armor.uuid}}" class="active-item-label-chip">
                <img src="{{armor.img}}" />
                <button data-action="removeActiveItem" data-item="{{armor.uuid}}"><i class="fa-solid fa-x"></i></button>
            </div>
        {{/if}} 
    </legend>

    <div class="active-item-container">
        <div class="flexrow">
            <input value="{{armor.name}}" type="text" />
            <input value="{{armor.system.baseScore}}" type="text" />
        </div>
        <input value="{{localize armor.system.featureInfo.name}} {{#if armor.system.featureInfo}}({{localize armor.system.featureInfo.description}}){{/if}}" type="text" />
    </div>
</fieldset>