<fieldset class="left-main-container armor-section active-item-section item-section">
    <legend class="legend armor-container">
        <span>{{localize "DAGGERHEART.Sheets.PC.Armor.Title"}}</span>
    </legend>

    <div class="active-item-container">
        <div class="flexrow">
            <input value="{{armor.name}}" type="text" />
            <input value="{{armor.system.baseScore}}" type="text" />
        </div>
        <input value="{{localize armor.system.featureInfo.name}} {{#if armor.system.featureInfo}}({{localize armor.system.featureInfo.description}}){{/if}}" type="text" />
    </div>
</fieldset>