<fieldset class="abilities-container">
    <legend class="legend">
        {{localize "Attributes"}}
        <i data-action="toggleEditAttributes" title="{{localize "DAGGERHEART.Sheets.PC.Attributes.AttributeBaseMenuTitle"}}" class="fa-solid fa-gear icon-button" style="position: absolute; top: 1px; right: calc(50% - 56px); background: url(../ui/parchment.jpg) repeat;"></i>
    </legend>

    {{#each this.attributes as |attribute key|}}
        <div class="attribute">
            <div class="attribute-banner">
                <img class="attribute-roll" data-action="attributeRoll" data-attribute="{{key}}" data-value="{{attribute.total}}" src="icons/svg/d12-grey.svg" />
                <div class="attribute-text">{{key}}</div>
            </div>
            <div class="attribute-image">
                {{#if ../editAttributes}}
                    <select class="attribute-value{{#if (lt attribute.total 0)}} negative{{/if}}{{#if (and (not attribute.total) (not ../abilityScoresFinished))}} unselected{{/if}}" data-attribute="{{key}}">
                        {{#if (not (eq attribute.total 0))}}<option value="">{{attribute.total}}</option>{{/if}}
                        {{#each ../abilityScoreArray as |option|}}
                            <option value="{{option.total}}">{{option.name}}</option>
                        {{/each}}
                    </select>
                {{else}}
                    <div class="attribute-text {{#if (lt attribute.total 0)}}negative{{/if}}">{{attribute.total}}</div>
                {{/if}}
                <img src="systems/daggerheart/assets/AttributeShield.svg" />
                <div>
                    {{#each this.descriptors}}
                        <div class="descriptor">{{this}}</div>
                    {{/each}}
                </div>
            </div>
            {{#each attribute.verbs}}
                <div class="attribute-verb">{{this}}</div>
            {{/each}}
        </div>
    {{/each}}
</fieldset>