<fieldset class="left-main-container">
    <legend class="legend">{{localize "Defense"}}</legend>

    <div class="defense-row">
        <div class="defense-section">
            <div class="defense-container">
                <div class="defense-value">{{document.system.evasion.total}}</div>
                <img src="systems/daggerheart/assets/AttributeShield.svg" />
                <div class="defense-banner">{{localize "DAGGERHEART.Sheets.PC.Defense.Evasion"}}</div>
            </div>
        </div>
        <div class="vertical-separator" style="height: 84px; align-self: baseline; margin-right: 8px;"></div>
        <div class="defense-section armor">
            <div class="defense-container">
                <div class="defense-value">{{#if document.system.armor.system.baseScore}}{{document.system.armor.system.baseScore}}{{else}}0{{/if}}</div>
                <img src="systems/daggerheart/assets/AttributeShield.svg" />
                <div class="defense-banner">{{localize "DAGGERHEART.Sheets.PC.Defense.Armor"}}</div>
            </div>
            {{#if document.system.armor.system.marks}}
                <div class="armor-marks">
                    {{#times (subtract 12 document.system.armor.system.marks.max)}}
                        <input class="mark disabled-mark" type="checkbox" disabled />
                    {{/times}}
                    {{#times document.system.armor.system.marks.max}}
                        {{#with (add this 1)}}
                            <input class="mark" type="checkbox" data-action="toggleMarks" data-value="{{this}}" {{ checked (gte ../../document.system.armor.system.marks.value this) }} />
                        {{/with}}
                    {{/times}}
                </div>
            {{/if}}
        </div>
    </div>
</fieldset>