<div class="abilities-card">
    <div class="abilities-card-image-container">
        <img class="abilities-card-image" src="{{card.img}}" />
        <div class="abilities-card-level">{{card.system.level}} <img src="icons/svg/sword.svg" /></div>
        {{#if inVault}}
            <div class="abilities-card-refresh-cost icon-button {{#if card.sendToLoadoutDisabled}}disabled{{/if}}" data-action="sendToLoadout" data-domain="{{card.uuid}}" title="{{localize "DAGGERHEART.Sheets.PC.DomainCard.Recall"}}">
                {{card.system.recallCost}} <i class="fa-solid fa-bolt"></i>
            </div>
        {{else}}
            <div class="abilities-card-refresh-cost icon-button" data-action="sendToVault" data-domain="{{card.uuid}}" title="{{localize "DAGGERHEART.Sheets.PC.DomainCard.ToVault"}}">
                {{card.system.recallCost}} <i class="fa-solid fa-bolt"></i>
            </div>
        {{/if}}
        <div class="abilities-card-type">
            <div class="abilities-card-type-text">{{card.system.type}}</div>
        </div>  
    </div>
    <div class="abilities-text-container domain">
        <div ><i data-action="removeCard" data-type="{{card.type}}" data-key="{{card.uuid}}" class="fas fa-trash icon-button row-icon"></i></div>
        <div class="abilities-card-title">{{card.name}}</div>
        {{#if inVault}}
            <div class="abilities-card-description">{{{card.system.effect}}}</div>
        {{else}}
            <div class="abilities-card-description abilities-card-effect" data-action="useDomainCard" data-key="{{card.uuid}}" data-domain="{{card.system.domain}}">{{{card.system.effect}}}</div>
        {{/if}}
    </div>
</div>