<div>
    <h2>
        {{localize "Effects"}}
        <select class="effect-select">
           {{selectOptions this.config.effectTypes selected=this.selectedEffectType labelAttr="name" localize=true blank=""}} 
        </select>
        <i class="fa-solid fa-plus icon-button {{#if (not this.selectedEffectType)}}disabled{{/if}}" data-action="addEffect"></i>
    </h2>

    {{#each this.effects as |effect key|}}
        <fieldset>
            <legend>
                {{effect.type}}
                <i class="fa-solid fa-trash icon-button flex0" data-action="removeEffect" data-effect="{{key}}"></i>
            </legend>
            {{#if effect.applyLocationChoices}}
                <div class="form-group">
                    <label>Apply Location</label>
                    <select name="system.effects.{{key}}.appliesOn">
                        {{selectOptions effect.applyLocationChoices selected=effect.appliesOn localize=true}}
                    </select>
                </div>
            {{/if}}
            {{#if (eq effect.valueType ../config.valueTypes.numberString.id)}}
                {{#if (eq effect.type ../config.effectTypes.damage.id) }}
                    <div class="form-group">
                        {{!-- <label></label> --}}
                        <div class="form-fields">
                            <label>Value</label>
                            <input type="text" name="system.effects.{{key}}.valueData.value" value="{{effect.valueData.value}}" />
                            <label style="text-wrap: nowrap;">Initially Selected</label>
                            <input type="checkbox" name="system.effects.{{key}}.initiallySelected" {{checked effect.initiallySelected}} />
                        </div>
                    </div>
                    {{!-- <div class="flexrow">
                        <input type="text" name="system.effects.{{key}}.valueData.value" value="{{effect.valueData.value}}" />
                        <i class="fa-solid fa-trash icon-button flex0" data-action="removeEffect" data-effect="{{key}}"></i>
                    </div> --}}
                    <div class="form-group">
                        <label>Hope Increase</label>
                        <div class="form-fields">
                            <input type="text" name="system.effects.{{key}}.valueData.hopeIncrease" value="{{effect.valueData.hopeIncrease}}" />
                        </div>
                    </div>
                {{else}}
                    <div class="form-group">
                        {{!-- <label></label> --}}
                        <div class="form-fields">
                            <label>Value</label>
                            <input type="text" name="system.effects.{{key}}.valueData.value" value="{{effect.valueData.value}}" />
                        </div>
                    </div>
                {{/if}}
            {{/if}}
            {{#if (eq effect.valueType ../config.valueTypes.select.id)}}
                <div class="flexrow">
                    <select name="system.effects.{{key}}.valueData.fromValue" value="{{effect.valueData.fromValue}}">
                        {{selectOptions effect.options selected=effect.valueData.fromValue labelAttr="name" valueAttr="value" localize=true blank="" }} 
                    </select>
                </div>
                <div class="flexrow">
                    <select name="system.effects.{{key}}.valueData.value" value="{{effect.valueData.value}}">
                        {{selectOptions effect.options selected=effect.valueData.value labelAttr="name" valueAttr="value" localize=true blank="" }} 
                    </select>
                </div>
            {{/if}}
        </fieldset>
    {{/each}}
</div>