<fieldset class="left-main-container" style="padding-top: 0; margin-top: 8px;">
    <legend class="legend" style="line-height: 2px;">{{localize this.inventory.currency.title}}</legend>

    <div class="gold-section">
        <fieldset class="gold-fieldset">
            <legend>
                {{localize this.inventory.currency.coins}}
            </legend>
            <div class="gold-column">
                <div class="gold-row">
                    {{#times 5}}
                        {{#with (add this 1)}}
                            <img src="icons/svg/coins.svg" class="{{#if (gte ../../document.system.gold.coins this)}}owned{{/if}}" data-action="toggleGold" data-value="{{this}}" data-type="coins" />
                            {{!-- <input class="gold-checkbox" type="checkbox" data-action="toggleGold" data-value="{{this}}" data-type="hoards" {{ checked (gte ../../document.system.gold.hoards this) }} /> --}}
                        {{/with}}
                    {{/times}}
                </div>
                <div class="gold-row">
                    {{#times 4}}
                        {{#with (add this 6)}}
                            <img src="icons/svg/coins.svg" class="{{#if (gte ../../document.system.gold.coins this)}}owned{{/if}}" data-action="toggleGold" data-value="{{this}}" data-type="coins" />
                            {{!-- <input class="gold-checkbox" type="checkbox" data-action="toggleGold" data-value="{{this}}" data-type="hoards" {{ checked (gte ../../document.system.gold.hoards this) }} /> --}}
                        {{/with}}
                    {{/times}}
                </div>
            </div>
        </fieldset>
        <fieldset class="gold-fieldset">
            <legend>
                {{localize this.inventory.currency.handfulls}}
            </legend>
            <div class="gold-column">
                <div class="gold-row">
                    {{#times 5}}
                        {{#with (add this 1)}}
                            {{!-- <input class="gold-checkbox" type="checkbox" data-action="toggleGold" data-value="{{this}}" data-type="handfulls" {{ checked (gte ../../document.system.gold.handfulls this) }} /> --}}
                            <i class="fa-solid fa-coins {{#if (gte ../../document.system.gold.handfulls this)}}owned{{/if}}" data-action="toggleGold" data-value="{{this}}" data-type="handfulls"></i>
                        {{/with}}
                    {{/times}}
                </div>
                <div class="gold-row">
                    {{#times 4}}
                        {{#with (add this 6)}}
                            {{!-- <input class="gold-checkbox" type="checkbox" data-action="toggleGold" data-value="{{this}}" data-type="handfulls" {{ checked (gte ../../document.system.gold.handfulls this) }} /> --}}
                            <i class="fa-solid fa-coins {{#if (gte ../../document.system.gold.handfulls this)}}owned{{/if}}" data-action="toggleGold" data-value="{{this}}" data-type="handfulls"></i>
                        {{/with}}
                    {{/times}}
                </div>
            </div>
        </fieldset>
        <fieldset class="gold-fieldset">
            <legend>
                {{localize this.inventory.currency.bags}}
            </legend>
            <div class="gold-column">
                <div class="gold-row">
                    {{#times 5}}
                        {{#with (add this 1)}}
                            {{!-- <input class="gold-checkbox" type="checkbox" data-action="toggleGold" data-value="{{this}}" data-type="handfulls" {{ checked (gte ../../document.system.gold.handfulls this) }} /> --}}
                            <i class="fa-solid fa-sack-dollar {{#if (gte ../../document.system.gold.bags this)}}owned{{/if}}" data-action="toggleGold" data-value="{{this}}" data-type="bags"></i>
                        {{/with}}
                    {{/times}}
                </div>
                <div class="gold-row">
                    {{#times 4}}
                        {{#with (add this 6)}}
                            {{!-- <input class="gold-checkbox" type="checkbox" data-action="toggleGold" data-value="{{this}}" data-type="handfulls" {{ checked (gte ../../document.system.gold.handfulls this) }} /> --}}
                            <i class="fa-solid fa-sack-dollar {{#if (gte ../../document.system.gold.bags this)}}owned{{/if}}" data-action="toggleGold" data-value="{{this}}" data-type="bags"></i>
                        {{/with}}
                    {{/times}}
                </div>

                            {{!-- <input class="gold-checkbox" type="checkbox" data-action="toggleGold" data-value="{{this}}" data-type="bags" {{ checked (gte ../../document.system.gold.bags this) }} /> --}}

            </div>
        </fieldset>
        <fieldset class="gold-fieldset" style="min-width: 56px;">
            <legend>
                {{localize this.inventory.currency.chests}}
            </legend>

            <div class="gold-column">
                <img src="icons/svg/chest.svg" class="{{#if (gte document.system.gold.chests 1)}}owned{{/if}}" style="min-height: 32px; min-width: 32px;" data-action="toggleGold" data-value="1" data-type="chests" />
                {{!-- <input class="gold-checkbox" type="checkbox" data-action="toggleGold" data-value="{{this}}" data-type="chests" {{ checked (gte ../../document.system.gold.chests this) }} /> --}}
            </div>
        </fieldset>
    </div>
</fieldset>