<fieldset class="left-main-container">
    <legend class="legend">{{localize "DAGGERHEART.Sheets.PC.Health.Title"}}</legend>

    <div class="threshold-container">
        <div class="threshold-spacer">
            <div class="health-category">{{localize "DAGGERHEART.Sheets.PC.Health.Minor"}}</div>
        </div>

        <div class="threshold-box">
            {{document.system.damageThresholds.major}}
        </div>
        <div class="threshold-spacer">
            <i class="fa-solid fa-caret-left"></i>
            <div class="health-category">{{localize "DAGGERHEART.Sheets.PC.Health.Major"}}</div>
        </div>

        <div class="threshold-box">
            {{document.system.damageThresholds.severe}}
        </div>
        <div class="threshold-spacer">
            <i class="fa-solid fa-caret-left"></i>
            <div class="health-category">{{localize "DAGGERHEART.Sheets.PC.Health.Severe"}}</div>
        </div>
        <i data-action="makeDeathMove" class="fas fa-skull death-save {{#if document.system.deathMoveViable}}disabled{{/if}}" title="{{localize "DAGGERHEART.Sheets.PC.Health.DeathMoveTooltip"}}"></i>
    </div>
    <div class="flexrow" style="flex-wrap: nowrap; align-items: center;">
        <div class="flexcol flex0">
            <div class="resource-label">{{localize "DAGGERHEART.Sheets.PC.Health.HealthTitle"}}</div>
            <div class="resource-label" style="margin-right: 1px;">{{localize "DAGGERHEART.Sheets.PC.Health.StressTitle"}}</div>
        </div>
        <div class="flexcol">
            <div class="flexrow" style="flex-wrap: nowrap;">
                {{#times document.system.resources.hitPoints.maxTotal}}
                    {{#with (add this 1)}}
                        <input class="resource-box" type="checkbox" data-action="toggleHP" data-value="{{this}}" {{ checked (gte ../../document.system.resources.hitPoints.value this) }} />
                    {{/with}}
                {{/times}}
                {{#times (subtract 12 document.system.resources.hitPoints.maxTotal)}}
                    <input class="resource-box disabled" type="checkbox" disabled />
                {{/times}}
            </div>
            <div class="flexrow">
                {{#times document.system.resources.stress.maxTotal}}
                    {{#with (add this 1)}}
                        <input class="resource-box" type="checkbox" data-action="toggleStress" data-value="{{this}}" {{ checked (gte ../../document.system.resources.stress.value this) }} />
                    {{/with}}
                {{/times}}
                {{#times (subtract 12 document.system.resources.stress.maxTotal)}}
                    <input class="resource-box disabled" type="checkbox" disabled />
                {{/times}}
            </div>
        </div>
    </div>
</fieldset>