<div>
    {{formInput systemFields.description value=source.system.description enriched=source.system.description localize=true toggled=true}}
    <div class="ability-title">
        <h2>{{localize "DAGGERHEART.Sheets.Heritage.Title"}}</h2>
    </div>
    <div>
        {{#each source.system.abilities as |ability key|}}
            <div class="feature-container">
                <div class="feature-inner-container">
                    <img src="{{ability.img}}" />
                    <div class="feature-title">{{ability.name}}</div>
                </div>
                <div class="subclass-inner-container">
                    <button data-action="editAbility" data-ability={{ability.uuid}}><i class="fa-solid fa-fw fa-search"></i></button>
                    <button data-action="deleteAbility" data-ability={{ability.uuid}}><i class="fa-solid fa-trash"></i></button>
                </div>
            </div>
        {{/each}}
    </div>
</div>