<div>
    {{#with (concat "system." featureType "Feature" ".")}}
        <div class="editor-form-group">
            <label>{{localize "DAGGERHEART.Sheets.Subclass.SubclassFeature.Description"}}</label>
            {{formInput ../field.description value=../feature.description enriched=../feature.description localize=true toggled=true}}
            {{!-- {{editor ../feature.description target=(concat this "description") button=true}} --}}
        </div>
        <div class="flexrow">
            <h2>{{localize "DAGGERHEART.Sheets.Subclass.SubclassFeature.Abilities"}}</h2>
        </div>

        {{#each ../feature/abilities as |ability key|}}
            <div class="feature-container">
                <div class="feature-inner-container">
                    <img src="{{ability.img}}" />
                    <div class="feature-title">{{ability.name}}</div>
                </div>
                <div class="subclass-inner-container">
                    <button data-action="editAbility" data-ability={{ability.uuid}}><i class="fa-solid fa-fw fa-search"></i></button>
                    <button data-action="deleteFeatureAbility" data-feature="{{../../featureType}}" data-ability={{ability.uuid}}><i class="fa-solid fa-trash"></i></button>
                </div>
            </div>
        {{/each}}
    {{/with}}
</div>