<fieldset class="left-main-container weapon-section active-item-section item-section">
    <legend class="legend">
        <div class="weapons-title">
            <span>{{localize "DAGGERHEART.Sheets.PC.Weapons.Title"}}</span>
             <div class="proficiency-container">
                <span>{{localize "DAGGERHEART.Sheets.PC.Weapons.ProficiencyTitle"}}</span>
                {{#times 6}}
                    <i class="fa-solid fa-circle proficiency-dot {{#if (gt ../proficiency.total this)}}marked{{/if}}"></i>
                {{/times}}
             </div>
             <div class="proficiency-container-visual-element"></div>
        </div>
        <div class="weapons-burden">
            <i class="fa-solid fa-hand weapons-burden-icon left {{#if (or (eq weaponBurden "oneHanded") (eq weaponBurden "twoHanded"))}}active{{/if}}"></i>
            <i class="fa-solid fa-hand weapons-burden-icon right {{#if (eq weaponBurden "twoHanded")}}active{{/if}}"></i>
        </div>
    </legend>

    <div class="active-item-container">
        <h2 class="weapons-label-row">
            {{localize "DAGGERHEART.Sheets.PC.Weapons.PrimaryTitle"}} 
            {{#if primaryWeapon}}
                <img class="damage-roll" data-action="attackRoll" data-weapon="{{primaryWeapon.uuid}}" src="icons/svg/d12-grey.svg" />
            {{/if}}
        </h2>
        <div class="flexrow">
            <input value="{{primaryWeapon.name}}" type="text" />
            <input value="{{localize primaryWeapon.trait}}" type="text" />
            <input value="{{localize primaryWeapon.range.label}}" type="text" />
            <input value="{{primaryWeapon.damage.value}} {{#if primaryWeapon}}({{localize primaryWeapon.damage.type.abbreviation}}){{/if}}" type="text" />
        </div>
        <input value="{{localize primaryWeapon.feature.label}} {{#if primaryWeapon.feature}}({{localize primaryWeapon.feature.description}}){{/if}}" type="text" />
    </div>
    <div class="active-item-container">
        <h2 class="weapons-label-row">
            {{localize "DAGGERHEART.Sheets.PC.Weapons.SecondaryTitle"}}
            {{#if secondaryWeapon}}
                <img class="damage-roll" data-action="damageRoll" data-value="{{secondaryWeapon.damage.value}}" src="icons/svg/d12-grey.svg" />
            {{/if}}
        </h2>
        <div class="flexrow">
            <input value="{{secondaryWeapon.name}}" type="text" />
            <input value="{{localize secondaryWeapon.trait}}" type="text" />
            <input value="{{localize secondaryWeapon.range.label}}" type="text" />
            <input value="{{secondaryWeapon.damage.label}} {{#if secondaryWeapon}}({{localize secondaryWeapon.damage.type.abbreviation}}){{/if}}" type="text" />
        </div>
        <input value="{{localize secondaryWeapon.feature.name}} {{#if secondaryWeapon.feature}}({{localize secondaryWeapon.feature.description}}){{/if}}" style="text-overflow: ellipsis;" type="text" />
    </div>
</fieldset>