<fieldset class="left-main-container weapon-section active-item-section item-section">
    <legend class="legend">
        <div class="weapons-title">
            <span>{{localize "DAGGERHEART.Sheets.PC.Weapons.Title"}}</span>
             <div class="proficiency-container">
                <span>{{localize "DAGGERHEART.Sheets.PC.Weapons.ProficiencyTitle"}}</span>
                {{#times 6}}
                    <i class="fa-solid fa-circle proficiency-dot {{#if (gt ../proficiency this)}}marked{{/if}}"></i>
                {{/times}}
             </div>
             <div class="proficiency-container-visual-element"></div>
        </div>
        <div class="weapons-burden">
            <i class="fa-solid fa-hand weapons-burden-icon left {{#if (or (eq weapons.burden "oneHanded") (eq weapons.burden "twoHanded"))}}active{{/if}}"></i>
            <i class="fa-solid fa-hand weapons-burden-icon right {{#if (eq weapons.burden "twoHanded")}}active{{/if}}"></i>
        </div>
    </legend>

    <div class="active-item-container">
        <h2 class="weapons-label-row">
            {{localize "DAGGERHEART.Sheets.PC.Weapons.PrimaryTitle"}} 
            {{#if weapons.primary}}
                <img class="damage-roll" data-action="attackRoll" data-weapon="{{weapons.primary.uuid}}" src="icons/svg/d12-grey.svg" />
            {{/if}}
        </h2>
        <div class="flexrow">
            <input value="{{weapons.primary.name}}" type="text" />
            <input value="{{localize weapons.primary.trait}}" type="text" />
            <input value="{{localize weapons.primary.range.label}}" type="text" />
            <input value="{{weapons.primary.damage.value}} {{#if weapons.primary}}({{localize weapons.primary.damage.type.abbreviation}}){{/if}}" type="text" />
        </div>
        <input value="{{localize weapons.primary.feature.label}} {{#if weapons.primary.feature}}({{localize weapons.primary.feature.description}}){{/if}}" type="text" />
    </div>
    <div class="active-item-container">
        <h2 class="weapons-label-row">
            {{localize "DAGGERHEART.Sheets.PC.Weapons.SecondaryTitle"}}
            {{#if weapons.secondary}}
                <img class="damage-roll" data-action="damageRoll" data-value="{{weapons.secondary.damage.value}}" src="icons/svg/d12-grey.svg" />
            {{/if}}
        </h2>
        <div class="flexrow">
            <input value="{{weapons.secondary.name}}" type="text" />
            <input value="{{localize weapons.secondary.trait}}" type="text" />
            <input value="{{localize weapons.secondary.range.label}}" type="text" />
            <input value="{{weapons.secondary.damage.label}} {{#if weapons.secondary}}({{localize weapons.secondary.damage.type.abbreviation}}){{/if}}" type="text" />
        </div>
        <input value="{{localize weapons.secondary.feature.name}} {{#if weapons.secondary.feature}}({{localize weapons.secondary.feature.description}}){{/if}}" style="text-overflow: ellipsis;" type="text" />
    </div>
</fieldset>