<header class='item-sheet-header'>
    <img class='profile' src='{{source.img}}' data-action='editImage' data-edit='img' />
    <div class='item-info'>
        <line-div></line-div>
        <h1 class='item-name'><input type='text' name='name' value='{{source.name}}' /></h1>
        <div class='item-description'>
            {{#if source.system.secondary}}
                <h3>{{localize "DAGGERHEART.ITEMS.Weapon.secondaryWeapon"}}</h3>
            {{else}}
                <h3>{{localize "DAGGERHEART.ITEMS.Weapon.primaryWeapon"}}</h3>
            {{/if}}
            <h3>
                {{localize (concat 'DAGGERHEART.CONFIG.Traits.' source.system.attack.roll.trait '.short')}}
                <span>-</span>
                {{localize (concat 'DAGGERHEART.CONFIG.Range.' source.system.attack.range '.name')}}
                <span>-</span>
                {{source.system.attack.damage.parts.0.value.dice}}{{#if source.system.attack.damage.parts.0.value.bonus}} + {{source.system.attack.damage.parts.0.value.bonus}}{{/if}}
                (
                    {{#each source.system.attack.damage.parts.0.type}}
                        {{localize (concat 'DAGGERHEART.CONFIG.DamageType.' this '.abbreviation')}}
                    {{/each}}
                )
                <span>-</span>
                {{localize (concat 'DAGGERHEART.CONFIG.Burden.' source.system.burden)}}
            </h3>
        </div>
    </div>
</header>