<section
    class='tab {{tabs.settings.cssClass}} {{tabs.settings.id}}'
    data-tab='{{tabs.settings.id}}'
    data-group='{{tabs.settings.group}}'
>
    <fieldset class="two-columns">
        <legend>{{localize tabs.settings.label}}</legend>
        <span>{{localize "DAGGERHEART.Tiers.singular"}}</span>
        {{formField systemFields.tier value=source.system.tier}}
        <span>{{localize "DAGGERHEART.Sheets.Weapon.SecondaryWeapon"}}</span>
        {{formField systemFields.secondary value=source.system.secondary}}
        <span>{{localize "DAGGERHEART.Sheets.Weapon.Trait"}}</span>
        {{formField systemFields.trait value=source.system.trait localize=true}}
        <span>{{localize "DAGGERHEART.Sheets.Weapon.Range"}}</span>
        {{formField systemFields.range value=source.system.range localize=true}}
        <span>{{localize "DAGGERHEART.Sheets.Weapon.Burden"}}</span>
        {{formField systemFields.burden value=source.system.burden localize=true}}
    </fieldset>

    <fieldset class="two-columns">
        <legend>{{localize "DAGGERHEART.Sheets.Weapon.Damage.Title"}}</legend>
        <span>{{localize "DAGGERHEART.Sheets.Weapon.Damage.Value"}}</span>
        {{formGroup systemFields.damage.fields.value value=source.system.damage.value}}
        <span>{{localize "DAGGERHEART.Sheets.Weapon.Damage.Type"}}</span>
        {{formGroup systemFields.damage.fields.type value=source.system.damage.type localize=true}}
    </fieldset>
    <fieldset class="two-columns">
        <legend>{{localize "DAGGERHEART.Sheets.Weapon.Feature"}}</legend>
        <span>{{localize "DAGGERHEART.Sheets.Weapon.Feature"}}</span>
        <input type="text" class="features-input" value="{{features}}" />
    </fieldset>
</section>