<li class="inventory-item" data-item-id="{{item.id}}" data-is-action="true" data-partner="{{partner}}">
    <img src="{{item.img}}" class="item-img" data-action="useItem" />
    <div class="item-label">
        <div class="item-name">{{item.name}}</div>
        {{!-- <div class="item-tags">
            <div class="tag">
            </div>
            <div class="tag">
            </div>
        </div> --}}
    </div>
    <div class="controls">
        <a data-action="toChat" data-tooltip="{{localize 'DAGGERHEART.Tooltip.sendToChat'}}"><i class="fa-regular fa-message"></i></a>
        <a data-action="triggerContextMenu" data-tooltip="{{localize 'DAGGERHEART.Tooltip.moreOptions'}}"><i class="fa-solid fa-ellipsis-vertical"></i></a>
    </div>
</li>