{{#if (eq item.system.resource.type 'simple')}}
    <div class="item-resource">
        <i class="{{#if item.system.resource.icon}}{{item.system.resource.icon}}{{else}}fa-solid fa-hashtag{{/if}}"></i>
        <input type="number" class="inventory-item-resource" value="{{item.system.resource.value}}" step="1" />
    </div>
{{else}}
    <div class="item-resources">
        {{#times (rollParsed item.system.resource.max item.parent item numerical=true)}}
            {{#with (ifThen (lookup ../item.system.resource.diceStates this) (lookup ../item.system.resource.diceStates this) this) as | state |}}
                <a class="item-resource" data-action="toggleResourceDice" data-dice="{{#if ../../this}}{{../this}}{{else}}{{state}}{{/if}}">
                    <div class="item-dice-resource">
                        <label>{{ifThen state.value state.value '?'}}</label>
                        <img src="{{concat "systems/daggerheart/assets/icons/dice/hope/" (ifThen ../../item.system.resource.dieFaces ../../item.system.resource.dieFaces ../item.system.resource.dieFaces) ".svg"}}" />
                        {{#if state.used}}<i class="fa-solid fa-x"></i>{{/if}}
                    </div>
                </a>
            {{/with}}
        {{/times}}
        <a data-action="handleResourceDice" data-tooltip="DAGGERHEART.APPLICATIONS.ResourceDice.rerollDice"><i class="fa-solid fa-dice resource-edit"></i></a>
    </div>
{{/if}}