<section
    class='tab {{tabs.setup.cssClass}} {{tabs.setup.id}}'
    data-tab='{{tabs.setup.id}}'
    data-group='{{tabs.setup.group}}'
>
    <nav class='feature-tab sheet-tabs tabs setup-tabs' data-group='setup'>
        {{#each setupTabs as |tab|}}
            <button class='{{tab.id}} {{tab.cssClass}}' data-action='tab' data-group='{{tab.group}}' data-tab='{{tab.id}}' {{disabled tab.disabled}}>
                {{localize tab.label}}
            </button>
        {{/each}}
    </nav>
</section>