<section
    class='tab {{tabs.story.cssClass}} {{tabs.story.id}}'
    data-tab='{{tabs.story.id}}'
    data-group='{{tabs.story.group}}'
>
    <div>
        {{localize "DAGGERHEART.APPLICATIONS.CharacterCreation.story"}}
    </div>
</section>