<fieldset class="action-category">
    <legend class="action-category-label" data-action="toggleSection" data-section="roll">
        <div>Roll</div>
    </legend>
    <div class="action-category-data open">
        {{#if @root.isNPC}}
            {{formField fields.bonus label="Bonus" name="roll.bonus" value=source.bonus}}
        {{else}}
            {{formField fields.type label="Type" name="roll.type" value=source.type localize=true}}
            {{formField fields.trait label="Trait" name="roll.trait" value=source.trait localize=true disabled=(not source.type)}}
            {{formField fields.difficulty label="Difficulty" name="roll.difficulty" value=source.difficulty disabled=(not source.type)}}
        {{/if}}
    </div>
</fieldset>