<div>
    {{formGroup settingFields.schema.fields.hope value=settingFields._source.hope localize=true}}
    {{formGroup settingFields.schema.fields.actionPoints value=settingFields._source.actionPoints localize=true}}
    {{formGroup settingFields.schema.fields.countdowns value=settingFields._source.countdowns localize=true}}
    
    <footer class="form-footer">
        <button data-action="reset">
            <i class="fa-solid fa-arrow-rotate-left"></i>
            <span>{{localize "Reset"}}</span>
        </button>
        <button data-action="save" >
            <i class="fa-solid fa-floppy-disk"></i>
            <span>{{localize "Save Changes"}}</span>
        </button>
    </footer>
</div>
  