<div>
    <div class="settings-col">
        {{formGroup settingFields.schema.fields.enabled value=settingFields._source.enabled localize=true}}
        {{formGroup settingFields.schema.fields.melee value=settingFields._source.melee localize=true}}
        {{formGroup settingFields.schema.fields.veryClose value=settingFields._source.veryClose localize=true}}
        {{formGroup settingFields.schema.fields.close value=settingFields._source.close localize=true}}
        {{formGroup settingFields.schema.fields.far value=settingFields._source.far localize=true}}
        {{formGroup settingFields.schema.fields.veryFar value=settingFields._source.veryFar localize=true}}
    </div>

    <footer class="form-footer">
        <button data-action="reset">
            <i class="fa-solid fa-arrow-rotate-left"></i>
            <span>{{localize "Reset"}}</span>
        </button>
        <button data-action="save" >
            <i class="fa-solid fa-floppy-disk"></i>
            <span>{{localize "Save Changes"}}</span>
        </button>
    </footer>
</div>
  