<div>
    <div class="form-group">
        <label>{{localize "DAGGERHEART.Settings.Menu.VariantRules.actionTokens"}}</label>

        <div class="form-fields">
            {{formGroup settingFields.schema.fields.actionTokens.fields.enabled value=settingFields._source.actionTokens.enabled localize=true}}
            {{formGroup settingFields.schema.fields.actionTokens.fields.tokens value=settingFields._source.actionTokens.tokens disabled=(not settingFields._source.actionTokens.enabled) localize=true}}
        </div>
    </div>

    {{formGroup settingFields.schema.fields.useCoins value=settingFields._source.useCoins localize=true }}

    <footer class="form-footer">
        <button data-action="reset">
            <i class="fa-solid fa-arrow-rotate-left"></i>
            <span>{{localize "Reset"}}</span>
        </button>
        <button data-action="save" >
            <i class="fa-solid fa-floppy-disk"></i>
            <span>{{localize "Save Changes"}}</span>
        </button>
    </footer>
</div>
  