<form id="action-type-select">
    <header class="dialog-header">
        <h1>{{itemName}}</h1>
    </header>
    <ul class="actions-list">
    {{#each types}}
        <li class="action-item">
            <label class="label" for="{{id}}" data-tooltip="{{localize tooltip}}" data-tooltip-direction="LEFT">
                <i class="fa-solid {{icon}} fa-xl"></i>
                <span class="label">{{localize name}}</span>
            </label>
            <input type="radio" name="type" id="{{id}}" value="{{id}}" {{#if (eq @index 0)}}checked{{/if}}>
        </li>
    {{/each}}
    </ul>
</form>