<fieldset class="action-category">
    <legend class="action-category-label" data-action="toggleSection" data-section="roll">
        <div>Roll</div>
    </legend>
    <div class="action-category-data open">
        {{#if @root.isNPC}}
            {{formField fields.bonus label="Bonus" name="roll.bonus" value=source.bonus}}
        {{else}}
            {{formField fields.type label="Type" name="roll.type" value=source.type localize=true}}
            {{#if (eq source.type "diceSet")}}
                <div class="multi-display">
                    {{formField fields.diceRolling.fields.multiplier name="roll.diceRolling.multiplier" value=source.diceRolling.multiplier localize=true}}
                    {{#if (eq source.diceRolling.multiplier 'flat')}}{{formField fields.diceRolling.fields.flatMultiplier value=source.diceRolling.flatMultiplier name="roll.diceRolling.flatMultiplier" }}{{/if}}
                    {{formField fields.diceRolling.fields.dice name="roll.diceRolling.dice" value=source.diceRolling.dice}}
                </div>
                <div class="multi-display">
                    {{formField fields.diceRolling.fields.compare name="roll.diceRolling.compare" value=source.diceRolling.compare localize=true}}
                    {{formField fields.diceRolling.fields.treshold name="roll.diceRolling.treshold" value=source.diceRolling.treshold localize=true}}
                </div>
            {{else}}
                <div class="multi-display">
                    {{formField fields.trait label="Trait" name="roll.trait" value=source.trait localize=true disabled=(not source.type)}}
                    {{formField fields.difficulty label="Difficulty" name="roll.difficulty" value=source.difficulty disabled=(not source.type)}}
                </div>
            {{/if}}
        {{/if}}
        {{#unless (eq source.type "diceSet")}}
            {{formField fields.advState label= "Advantage State" name="roll.advState" value=source.advState localize=true}}
        {{/unless}}
    </div>
</fieldset>