<header class='item-sheet-header'>
    <img class='profile' src='{{source.img}}' data-action='editImage' data-edit='img' />
    <div class='item-info'>
        <h1 class='item-name'><input type='text' name='name' value='{{source.name}}' /></h1>
        <div class='item-description'>
            <h3>{{localize 'TYPES.Item.class'}}</h3>
            <h3 class="form-fields domain-section">
                <span>{{localize "DAGGERHEART.Sheets.Class.Domains"}}</span>
                <input class="domain-input" value="{{domains}}" />
            </h3>
        </div>
    </div>
</header>