<section
    class='tab {{tabs.settings.cssClass}} {{tabs.settings.id}}'
    data-tab='{{tabs.settings.id}}'
    data-group='{{tabs.settings.group}}'
>

    <fieldset class="two-columns">
        <legend>{{localize tabs.settings.label}}</legend>
        <span>{{localize "DAGGERHEART.Sheets.Class.Evasion"}}</span>
        {{formField systemFields.evasion value=source.system.evasion}}
    </fieldset>

    <div class="fieldsets-section">
        <fieldset class="drop-section two-columns">
            <legend>{{localize "DAGGERHEART.Sheets.Class.Guide.Suggestions.Traits.Title"}}</legend>

            <span>{{localize "DAGGERHEART.Abilities.agility.name"}}</span>
            <input type="text" name="system.characterGuide.suggestedTraits.agility" value="{{source.system.characterGuide.suggestedTraits.agility}}" />

            <span>{{localize "DAGGERHEART.Abilities.strength.name"}}</span>
            <input type="text" name="system.characterGuide.suggestedTraits.strength" value="{{source.system.characterGuide.suggestedTraits.strength}}" />

            <span>{{localize "DAGGERHEART.Abilities.finesse.name"}}</span>
            <input type="text" name="system.characterGuide.suggestedTraits.finesse" value="{{source.system.characterGuide.suggestedTraits.finesse}}" />

            <span>{{localize "DAGGERHEART.Abilities.instinct.name"}}</span>
            <input type="text" name="system.characterGuide.suggestedTraits.instinct" value="{{source.system.characterGuide.suggestedTraits.instinct}}" />

            <span>{{localize "DAGGERHEART.Abilities.presence.name"}}</span>
            <input type="text" name="system.characterGuide.suggestedTraits.presence" value="{{source.system.characterGuide.suggestedTraits.presence}}" />

            <span>{{localize "DAGGERHEART.Abilities.knowledge.name"}}</span>
            <input type="text" name="system.characterGuide.suggestedTraits.knowledge" value="{{source.system.characterGuide.suggestedTraits.knowledge}}" />
        </fieldset>

        <fieldset class="one-column">
            <legend>{{localize "DAGGERHEART.Sheets.Class.Guide.Suggestions.Title"}}</legend>
            <fieldset class="one-column drop-section primary-weapon-section">
                <legend>{{localize "DAGGERHEART.Sheets.Class.Guide.SuggestedPrimaryWeaponTitle"}}</legend>
                <div class="drop-section-body list-items">
                    {{#if document.system.characterGuide.suggestedPrimaryWeapon}}
                        <div class="suggested-item item-line" data-action="viewDoc" data-uuid="{{document.system.characterGuide.suggestedPrimaryWeapon.uuid}}">
                            <img class="image" src="{{document.system.characterGuide.suggestedPrimaryWeapon.img}}" />
                            <span>{{document.system.characterGuide.suggestedPrimaryWeapon.name}}</span>
                            <div class="controls">
                                <i data-action="removeSuggestedItem" data-target="suggestedPrimaryWeapon" class="fa-solid fa-trash icon-button"></i>
                            </div>
                        </div>
                    {{/if}}
                </div>
            </fieldset>

            <fieldset class="one-column drop-section secondary-weapon-section">
                <legend>{{localize "DAGGERHEART.Sheets.Class.Guide.SuggestedSecondaryWeaponTitle"}}</legend>
                <div class="drop-section-body list-items">
                    {{#if document.system.characterGuide.suggestedSecondaryWeapon}}
                        <div class="suggested-item item-line" data-action="viewDoc" data-uuid="{{system.system.characterGuide.suggestedSecondaryWeapon.uuid}}">
                            <img class="image" src="{{document.system.characterGuide.suggestedSecondaryWeapon.img}}" />
                            <span>{{document.system.characterGuide.suggestedSecondaryWeapon.name}}</span>
                            <div class="controls">
                                <i data-action="removeSuggestedItem" data-target="suggestedSecondaryWeapon" class="fa-solid fa-trash icon-button"></i>
                            </div>
                        </div>
                    {{/if}}
                </div>
            </fieldset>

            <fieldset class="one-column drop-section armor-section">
                <legend>{{localize "DAGGERHEART.Sheets.Class.Guide.SuggestedArmorTitle"}}</legend>
                <div class="drop-section-body list-items">
                    {{#if document.system.characterGuide.suggestedArmor}}
                        <div class="suggested-item item-line" data-action="viewDoc" data-uuid="{{document.system.characterGuide.suggestedArmor.uuid}}">
                            <img class="image" src="{{document.system.characterGuide.suggestedArmor.img}}" />
                            <span>{{document.system.characterGuide.suggestedArmor.name}}</span>
                            <div class="controls">
                                <i data-action="removeSuggestedItem" data-target="suggestedArmor" class="fa-solid fa-trash icon-button"></i>
                            </div>
                        </div>
                    {{/if}}
                </div>
            </fieldset>
        </fieldset>

        <fieldset class="one-column">
            <legend>{{localize "DAGGERHEART.Sheets.Class.Guide.Inventory.Title"}}</legend>
            <fieldset class="one-column drop-section take-section">
                <legend>{{localize "DAGGERHEART.Sheets.Class.Guide.Inventory.Take"}}</legend>
                <div class="drop-section-body list-items">
                    {{#each source.system.inventory.take}}
                        <div class="suggested-item item-line" data-action="viewDoc" data-uuid="{{this.uuid}}">
                            <img class="image" src="{{this.img}}" />
                            <span>{{this.name}}</span>
                            <div class="controls">
                                <i data-action="removeItemFromCollection" data-target="invetory.take" data-uuid="{{this.uuid}}" class="fa-solid fa-trash icon-button"></i>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </fieldset>

            <fieldset class="one-column drop-section choice-a-section">
                <legend>{{localize "DAGGERHEART.Sheets.Class.Guide.Inventory.ThenChoose"}}</legend>
                <div class="drop-section-body list-items">
                    {{#each source.system.inventory.choiceA}}
                        <div class="suggested-item item-line" data-action="viewDoc" data-uuid="{{this.uuid}}">
                            <img class="image" src="{{this.img}}" />
                            <span>{{this.name}}</span>
                            <div class="controls">
                                <i data-action="removeItemFromCollection" data-target="invetory.choiceA" data-uuid="{{this.uuid}}" class="fa-solid fa-trash icon-button"></i>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </fieldset>

            <fieldset class="one-column drop-section choice-b-section">
                <legend>{{localize "DAGGERHEART.Sheets.Class.Guide.Inventory.AndEither"}}</legend>
                <div class="drop-section-body list-items">
                    {{#each source.system.inventory.choiceB}}
                        <div class="suggested-item item-line" data-action="viewDoc" data-uuid="{{this.uuid}}">
                            <img class="image" src="{{this.img}}" />
                            <span>{{this.name}}</span>
                            <div class="controls">
                                <i data-action="removeItemFromCollection" data-target="invetory.choiceB" data-uuid="{{this.uuid}}" class="fa-solid fa-trash icon-button"></i>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </fieldset>
        </fieldset>
    </div>
</section>