<section
    class='tab {{tabs.settings.cssClass}} {{tabs.settings.id}}'
    data-tab='{{tabs.settings.id}}'
    data-group='{{tabs.settings.group}}'
>
    <fieldset class="two-columns even">
        <legend>{{localize tabs.settings.label}}</legend>
        {{formGroup systemFields.hitPoints value=source.system.hitPoints localize=true}}
        {{formGroup systemFields.evasion value=source.system.evasion localize=true}}
    </fieldset>

    <div class="fieldsets-section">
        <fieldset class="drop-section two-columns">
            <legend>{{localize "DAGGERHEART.GENERAL.Trait.plural"}}</legend>

            <span>{{localize "DAGGERHEART.CONFIG.Traits.agility.name"}}</span>
            <input type="text" name="system.characterGuide.suggestedTraits.agility" value="{{source.system.characterGuide.suggestedTraits.agility}}" />

            <span>{{localize "DAGGERHEART.CONFIG.Traits.strength.name"}}</span>
            <input type="text" name="system.characterGuide.suggestedTraits.strength" value="{{source.system.characterGuide.suggestedTraits.strength}}" />

            <span>{{localize "DAGGERHEART.CONFIG.Traits.finesse.name"}}</span>
            <input type="text" name="system.characterGuide.suggestedTraits.finesse" value="{{source.system.characterGuide.suggestedTraits.finesse}}" />

            <span>{{localize "DAGGERHEART.CONFIG.Traits.instinct.name"}}</span>
            <input type="text" name="system.characterGuide.suggestedTraits.instinct" value="{{source.system.characterGuide.suggestedTraits.instinct}}" />

            <span>{{localize "DAGGERHEART.CONFIG.Traits.presence.name"}}</span>
            <input type="text" name="system.characterGuide.suggestedTraits.presence" value="{{source.system.characterGuide.suggestedTraits.presence}}" />

            <span>{{localize "DAGGERHEART.CONFIG.Traits.knowledge.name"}}</span>
            <input type="text" name="system.characterGuide.suggestedTraits.knowledge" value="{{source.system.characterGuide.suggestedTraits.knowledge}}" />
        </fieldset>

        <fieldset class="one-column">
            <legend>{{localize "DAGGERHEART.ITEMS.Class.guide.suggestedEquipment"}}</legend>
            <fieldset class="one-column drop-section primary-weapon-section">
                <legend>{{localize "DAGGERHEART.ITEMS.Class.guide.suggestedPrimaryWeaponTitle"}}</legend>
                <div class="drop-section-body list-items">
                    {{#if document.system.characterGuide.suggestedPrimaryWeapon}}
                        <div class="suggested-item item-line" data-action="editDoc" data-item-uuid="{{document.system.characterGuide.suggestedPrimaryWeapon.uuid}}">
                            <img class="image" src="{{document.system.characterGuide.suggestedPrimaryWeapon.img}}" />
                            <span>{{document.system.characterGuide.suggestedPrimaryWeapon.name}}</span>
                            <div class="controls">
                                <i data-action="removeSuggestedItem" data-target="suggestedPrimaryWeapon" class="fa-solid fa-trash icon-button"></i>
                            </div>
                        </div>
                    {{/if}}
                </div>
            </fieldset>

            <fieldset class="one-column drop-section secondary-weapon-section">
                <legend>{{localize "DAGGERHEART.ITEMS.Class.guide.suggestedSecondaryWeaponTitle"}}</legend>
                <div class="drop-section-body list-items">
                    {{#if document.system.characterGuide.suggestedSecondaryWeapon}}
                        <div class="suggested-item item-line" data-action="editDoc" data-item-uuid="{{system.system.characterGuide.suggestedSecondaryWeapon.uuid}}">
                            <img class="image" src="{{document.system.characterGuide.suggestedSecondaryWeapon.img}}" />
                            <span>{{document.system.characterGuide.suggestedSecondaryWeapon.name}}</span>
                            <div class="controls">
                                <i data-action="removeSuggestedItem" data-target="suggestedSecondaryWeapon" class="fa-solid fa-trash icon-button"></i>
                            </div>
                        </div>
                    {{/if}}
                </div>
            </fieldset>

            <fieldset class="one-column drop-section armor-section">
                <legend>{{localize "DAGGERHEART.ITEMS.Class.guide.suggestedArmorTitle"}}</legend>
                <div class="drop-section-body list-items">
                    {{#if document.system.characterGuide.suggestedArmor}}
                        <div class="suggested-item item-line" data-action="editDoc" data-item-uuid="{{document.system.characterGuide.suggestedArmor.uuid}}">
                            <img class="image" src="{{document.system.characterGuide.suggestedArmor.img}}" />
                            <span>{{document.system.characterGuide.suggestedArmor.name}}</span>
                            <div class="controls">
                                <i data-action="removeSuggestedItem" data-target="suggestedArmor" class="fa-solid fa-trash icon-button"></i>
                            </div>
                        </div>
                    {{/if}}
                </div>
            </fieldset>
        </fieldset>

        <fieldset class="one-column">
            <legend>{{localize "DAGGERHEART.GENERAL.inventory"}}</legend>
            <fieldset class="one-column drop-section take-section">
                <legend>{{localize "DAGGERHEART.GENERAL.take"}}</legend>
                <div class="drop-section-body list-items">
                    {{#each source.system.inventory.take}}
                        <div class="suggested-item item-line" data-action="editDoc" data-item-uuid="{{this.uuid}}">
                            <img class="image" src="{{this.img}}" />
                            <span>{{this.name}}</span>
                            <div class="controls">
                                <i data-action="removeItemFromCollection" data-target="invetory.take" data-uuid="{{this.uuid}}" class="fa-solid fa-trash icon-button"></i>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </fieldset>

            <fieldset class="one-column drop-section choice-a-section">
                <legend>{{localize "DAGGERHEART.ITEMS.Class.guide.inventory.thenChoose"}}</legend>
                <div class="drop-section-body list-items">
                    {{#each source.system.inventory.choiceA}}
                        <div class="suggested-item item-line" data-action="editDoc" data-item-uuid="{{this.uuid}}">
                            <img class="image" src="{{this.img}}" />
                            <span>{{this.name}}</span>
                            <div class="controls">
                                <i data-action="removeItemFromCollection" data-target="invetory.choiceA" data-uuid="{{this.uuid}}" class="fa-solid fa-trash icon-button"></i>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </fieldset>

            <fieldset class="one-column drop-section choice-b-section">
                <legend>{{localize "DAGGERHEART.ITEMS.Class.guide.inventory.andEither"}}</legend>
                <div class="drop-section-body list-items">
                    {{#each source.system.inventory.choiceB}}
                        <div class="suggested-item item-line" data-action="editDoc" data-item-uuid="{{this.uuid}}">
                            <img class="image" src="{{this.img}}" />
                            <span>{{this.name}}</span>
                            <div class="controls">
                                <i data-action="removeItemFromCollection" data-target="invetory.choiceB" data-uuid="{{this.uuid}}" class="fa-solid fa-trash icon-button"></i>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </fieldset>
        </fieldset>
    </div>
</section>