<section
    class='tab {{tabs.settings.cssClass}} {{tabs.settings.id}}'
    data-tab='{{tabs.settings.id}}'
    data-group='{{tabs.settings.group}}'
>
    <div class="two-columns">
        {{formGroup systemFields.tier value=source.system.tier localize=true}}
        {{formGroup systemFields.examples value=source.system.examples localize=true}}
    </div>

     <fieldset class="two-columns">
        <legend>{{localize "DAGGERHEART.ITEMS.Beastform.FIELDS.advantageOn.label"}}</legend>
        
        {{!-- {{formGroup systemFields.examples value=source.system.examples localize=true}} --}}
    </fieldset>

    <fieldset class="two-columns even">
        <legend>{{localize "DAGGERHEART.ITEMS.Beastform.tokenTitle"}}</legend>

        <div class="full-width">
            {{formGroup systemFields.tokenImg value=source.system.tokenImg localize=true}}
        </div>

        {{formGroup systemFields.tokenSize.fields.height value=source.system.tokenSize.height localize=true placeholder=(localize "DAGGERHEART.ITEMS.Beastform.FIELDS.tokenSize.placeholder") }}
        {{formGroup systemFields.tokenSize.fields.width value=source.system.tokenSize.width localize=true placeholder=(localize "DAGGERHEART.ITEMS.Beastform.FIELDS.tokenSize.placeholder")}}
    </fieldset>
</section>