<section
    class='tab {{setupTabs.community.cssClass}} {{setupTabs.community.id}}'
    data-tab='{{setupTabs.community.id}}'
    data-group='{{setupTabs.community.group}}'
>
    <div class="main-selections-container">
        <fieldset class="section-container">
            <legend>{{localize "TYPES.Item.community"}}</legend>
            <div class="selections-outer-container">
                <div class="selections-container community-card">
                    {{#> "systems/daggerheart/templates/components/card-preview.hbs" community }}
                        {{localize "DAGGERHEART.APPLICATIONS.CharacterCreation.selectCommunity"}}
                    {{/"systems/daggerheart/templates/components/card-preview.hbs"}}
                </div>
            </div>
        </fieldset>
    </div>
</section>