<div class="dice-roll daggerheart chat roll" data-action="expandRoll">
    <div class="dice-flavor">{{title}}</div>
    <div class="dice-result">
        <div class="dice-formula">{{roll.formula}}</div>
        <div class="dice-tooltip">
            <div class="wrapper">
                <section class="tooltip-part">
                    <div class="dice">
                        {{#each roll.dice as | dice index |}}
                            <header class="part-header flexrow">
                                <span class="part-formula">{{formula}}</span>
                                <span class="part-total">{{total}}</span>
                            </header>
                            <div class="flexrow">
                                <ol class="dice-rolls">
                                    {{#each results}}
                                        <li class="roll die {{../dice}}{{#if discarded}} discarded{{/if}} min">{{result}}</li>
                                    {{/each}}
                                </ol>
                                {{#if (eq index 0)}}
                                <div class="attack-roll-advantage-container">
                                    {{#if (eq ../roll.advantage.type 1)}}{{localize "DAGGERHEART.General.Advantage.Full"}}{{/if}}{{#if (eq ../roll.advantage.type -1)}}{{localize "DAGGERHEART.General.Disadvantage.Full"}}{{/if}}
                                </div>
                                {{/if}}
                            </div>
                        {{/each}}
                    </div>
                </section>
            </div>
        </div>
        <div class="dice-total">
            <div class="dice-total-value">{{roll.total}}</div>
        </div>
    </div>
</div>
<fieldset class="dice-roll daggerheart chat roll expanded{{#unless damage.roll}} hidden{{/unless}}" data-action="expandRoll">
    <legend class="dice-flavor">Damage</legend>
    <div class="dice-result">
        <div class="dice-tooltip">
            <div class="wrapper">
                {{> 'systems/daggerheart/templates/chat/parts/damage-chat.hbs' damage=damage noTitle=true}}
            </div>
        </div>
    </div>
</fieldset>
{{> 'systems/daggerheart/templates/chat/parts/target-chat.hbs'}}
{{#if hasDamage}}
<div class="dice-roll daggerheart chat roll">
    <div class="dice-result">
        {{#if damage.roll}}
        <div class="dice-actions">
            {{!-- <button class="damage-button" data-target-hit="true" {{#if (eq targets.length 0)}}disabled{{/if}}>{{localize "DAGGERHEART.Chat.DamageRoll.DealDamageToTargets"}}</button>   --}}
            <button class="damage-button">{{localize "DAGGERHEART.Chat.DamageRoll.DealDamage"}}</button>  
        </div>
        {{else}}
        <div class="flexrow">
            <button class="duality-action duality-action-damage" data-value="{{roll.total}}"><span>{{localize "DAGGERHEART.Chat.DamageRoll.RollDamage"}}</span></button>  
        </div>
        {{/if}}
    </div>
</div>
{{/if}}