<div class="dice-roll daggerheart chat roll" data-action="expandRoll">
    <div class="dice-flavor">{{title}}</div>
    <div class="dice-result">
        <div class="dice-formula">{{roll.formula}}</div>
        <div class="dice-tooltip">
            <div class="wrapper">
                <section class="tooltip-part">
                    <div class="dice">
                        {{#each roll.dice}}
                            <header class="part-header flexrow">
                                <span class="part-formula">{{formula}}</span>
                                <span class="part-total">{{total}}</span>
                            </header>
                            <div class="flexrow">
                                <ol class="dice-rolls">
                                    {{#each results}}
                                        <li class="roll die {{../dice}}{{#if discarded}} discarded{{/if}} min">{{result}}</li>
                                    {{/each}}
                                </ol>
                                <div class="attack-roll-advantage-container">
                                    {{#if (eq ../roll.advantage.type 1)}}{{localize "DAGGERHEART.General.Advantage.Full"}}{{/if}}{{#if (eq ../roll.advantage.type -1)}}{{localize "DAGGERHEART.General.Disadvantage.Full"}}{{/if}}
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </section>
            </div>
        </div>
        <div class="dice-total">
            <div class="dice-total-value">{{roll.total}}</div>
        </div>
    </div>
</div>
{{> 'systems/daggerheart/templates/chat/parts/target-chat.hbs'}}
{{#if hasDamage}}
<div class="dice-roll daggerheart chat roll">
    <div class="dice-result">
        <div class="flexrow">
            <button class="duality-action duality-action-damage" data-value="{{roll.total}}"><span>Roll Damage</span></button>  
        </div>
    </div>
</div>
{{/if}}