<div class="dice-roll daggerheart chat roll" data-action="expandRoll">
    <div class="dice-result">
        <div class="dice-formula">{{roll}}</div>
        <div class="dice-tooltip">
            <div class="wrapper">
                <section class="tooltip-part">
                    <div class="dice">
                        <header class="part-header flexrow">
                            <span class="part-formula">{{this.dice.rolls.length}}{{this.dice.type}}</span>
                            <span class="part-total">{{this.total}}</span>
                        </header>
                        <div class="flexrow">
                            <ol class="dice-rolls">
                                {{#each this.dice.rolls}}
                                    <li class="roll die {{../dice.type}} {{#if this.discarded}}discarded{{/if}} min">{{this.value}}</li>
                                {{/each}}
                            </ol>
                            <div class="attack-roll-advantage-container">{{#if (eq this.advantageState 1)}}{{localize "DAGGERHEART.General.Advantage.Full"}}{{/if}}{{#if (eq this.advantageState 2)}}{{localize "DAGGERHEART.General.Disadvantage.Full"}}{{/if}}</div>
                        </div>  
                    </div>
                </section>
            </div>
        </div>

        <div class="dice-total">
            <div class="dice-total-value">{{total}}</div>
        </div>
        {{#if (gt targets.length 0)}}
            <div class="target-section">
                {{#each targets as |target|}}
                    <div class="dice-total target-container {{#if target.hit}}hit{{else}}miss{{/if}}" data-token="{{target.id}}">
                        <img src="{{target.img}}" />
                        <div class="target-inner-container">
                            {{#if target.hit}}{{localize "Hit"}}{{else}}{{localize "Miss"}}{{/if}}
                        </div>
                    </div>
                {{/each}}
            </div>
        {{/if}}
        <div class="flexrow">
            <button class="roll-damage-button" data-value="{{this.total.normal}}" data-damage="{{this.damage.value}}" data-damage-type="{{this.damage.type}}" {{#if this.damage.disabled}}disabled{{/if}}><span>Roll Damage</span></button>  
        </div>
    </div>
</div>