<div class="dice-roll daggerheart chat roll" data-action="expandRoll">
    <div class="dice-result">
        <div class="dice-formula">{{roll.formula}}</div>
        <div class="dice-tooltip">
            <ol class="dice-rolls">
                <div class="dice-hope-container">
                    {{#each dice}}
                            <header class="part-header flexrow">
                                <span class="part-formula">{{number}}{{denomination}}</span>
                                <span class="part-total">{{total}}</span>
                            </header>
                            <div class="flexrow">
                                <ol class="dice-rolls">
                                    {{#each results}}
                                        <li class="roll die {{../denomination}}{{#if discarded}} discarded{{/if}} min">{{result}}</li>
                                    {{/each}}
                                </ol>
                                <div class="attack-roll-advantage-container">{{#if ../advantageState}}{{localize "DAGGERHEART.General.Advantage.Full"}}{{/if}}{{#if (eq ../advantageState false)}}{{localize "DAGGERHEART.General.Disadvantage.Full"}}{{/if}}</div>
                            </div>
                        {{/each}}
                </div>
                <div class="modifiers-container">
                    {{#each modifiers}}
                        <li class="modifier-value" data-value="{{value}}" title="{{title}}">{{label}}</li>
                    {{/each}}
                </div>
            </ol>
        </div>
        <div class="dice-total">
            <div class="dice-total-value">{{roll.total}}</div>
        </div>
    </div>
</div>