<div class="dice-roll daggerheart chat roll">
    <div class="dice-result">
        <div class="dice-formula">{{roll}}</div>
        <div class="dice-tooltip">
            <ol class="dice-rolls">
                <div class="dice-hope-container">
                    {{#each diceResults}}
                        <li class="roll die d20 {{#if this.discarded}}discarded{{/if}}">{{this.value}}</li>
                    {{/each}}
                </div>
                <div class="modifiers-container">
                    {{#each modifiers}}
                        <li class="modifier-value" data-value="{{this.value}}" title="{{this.title}}">{{this.label}}</li>
                    {{/each}}
                </div>
            </ol>
        </div>
        <div class="dice-total">
            <div class="dice-total-value">{{total}}</div>
        </div>
        {{#if (gt targets.length 0)}}
            <div class="target-section">
                {{#each targets as |target|}}
                    <div class="dice-total target-container {{#if target.hit}}hit{{else}}miss{{/if}}" data-token="{{target.id}}">
                        <img src="{{target.img}}" />
                        <div class="target-inner-container">
                            {{#if target.hit}}{{localize "Hit"}}{{else}}{{localize "Miss"}}{{/if}}
                        </div>
                    </div>
                {{/each}}
            </div>
        {{/if}}
        <button class="roll-damage-button" data-value="{{this.total.normal}}" data-damage="{{this.damage.value}}" data-damage-type="{{this.damage.type}}" {{#if this.damage.disabled}}disabled{{/if}}><span>Roll Damage</span></button>  
    </div>
</div>