<div class="dice-roll daggerheart chat roll">
    <div class="dice-result">
        <div class="dice-formula">{{this.roll}}</div>
        <div class="dice-tooltip">
            <ol class="dice-rolls">
                {{#each dice}}
                    <li class="roll die {{this.type}}">{{this.value}}</li>
                {{/each}}
                {{#each modifiers}}
                    <li class="modifier-value">{{this}}</li>
                {{/each}}
            </ol>
        </div>
        <div class="dice-total">{{this.total}}</div>
        <div class="flexrow">
            <button class="damage-button" data-value="{{this.total}}" data-type="{{this.type}}"><span>{{localize "DAGGERHEART.Chat.DamageRoll.DealDamage"}}</span></button>  
        </div>
    </div>
</div>