<div class="dice-roll daggerheart chat roll" data-action="expandRoll">
    <div class="dice-flavor">{{this.title}}</div>
    <div class="dice-result">
        <div class="dice-formula">{{roll}}</div>

        <div class="dice-tooltip">
            <div class="wrapper">
                <section class="tooltip-part">
                    <div class="dice">
                        <header class="part-header flexrow">
                            <span class="part-formula">
                                <span>1{{hope.dice}}</span>
                                |
                                <span>1{{fear.dice}}</span>
                            </span>
                            <span class="part-total">{{this.highestRoll}}</span>
                        </header>
                        <div class="flexrow">
                            <ol class="dice-rolls duality">
                                <li class="roll die {{hope.dice}} {{#if hope.discarded}}discarded{{/if}} hope min" title="{{localize "DAGGERHEART.General.Hope"}}">{{hope.value}}</li>
                                <li class="roll die {{fear.dice}} {{#if fear.discarded}}discarded{{/if}} fear min" title="{{localize "DAGGERHEART.General.Fear"}}">{{fear.value}}</li>
                            </ol>
                        </div>  
                    </div>
                    {{#if advantage.value}}
                        <div class="dice">
                            <header class="part-header flexrow">
                                <span class="part-formula">
                                    <span>1{{advantage.dice}}</span>
                                </span>
                                <span class="part-total">{{advantage.value}}</span>
                            </header>
                            <div class="flexrow">
                                <ol class="dice-rolls">
                                    <li class="roll die {{advantage.dice}} hope min">{{advantage.value}}</li>
                                </ol>
                            </div>  
                        </div>
                    {{/if}}
                    {{#if disadvantage.value}}
                        <div class="dice">
                            <header class="part-header flexrow">
                                <span class="part-formula">
                                    <span>1{{disadvantage.dice}}</span>
                                </span>
                                <span class="part-total">{{disadvantage.value}}</span>
                            </header>
                            <div class="flexrow">
                                <ol class="dice-rolls">
                                    <li class="roll die {{disadvantage.dice}} hope min">{{disadvantage.value}}</li>
                                </ol>
                            </div>  
                        </div>
                    {{/if}}
                </section>
            </div>
        </div>

        {{!-- <div class="dice-tooltip {{#if advantage.value}}expanded{{/if}}">
            <ol class="dice-rolls duality">
                <div class="dice-hope-container">
                    <li id="hope" class="roll die {{hope.dice}} hope" title="{{localize "DAGGERHEART.General.Hope"}}">{{hope.value}}</li>
                    <li class="roll die {{fear.dice}} fear" title="{{localize "DAGGERHEART.General.Fear"}}">{{fear.value}}</li>
                    {{#if advantage.value}}
                        <li class="roll die {{advantage.dice}} advantage" title="{{localize "DAGGERHEART.General.Advantage.Full"}}">{{ advantage.value}}</li>
                    {{/if}}
                    {{#if disadvantage.value}}
                        <li class="roll die {{disadvantage.dice}} disadvantage" title="{{localize "DAGGERHEART.General.Disadvantage.Full"}}">{{disadvantage.value}}</li>
                    {{/if}}
                </div>
                <div class="modifiers-container">
                    {{#each modifiers}}
                        <li class="modifier-value" data-value="{{this.value}}" title="{{this.title}}">{{this.label}}</li>
                    {{/each}}
                </div>
            </ol>
        </div> --}}
        <div class="dice-total">
            <div class="dice-total-label">{{totalLabel}}</div>
            <div class="dice-total-value">
                {{total}}
            </div>
        </div>
    </div>
</div>