<div class="dice-roll daggerheart chat roll" data-action="expandRoll">
    <div class="dice-flavor">{{title}}</div>
    <div class="duality-modifiers">
        {{#each roll.modifiers}}
            <div class="duality-modifier">
                {{localize label}} {{#if (gte value 0)}}+{{/if}}{{value}}
            </div>
        {{/each}}
        {{#if (eq roll.advantage.type 1)}}
            <div class="duality-modifier">
                {{localize "DAGGERHEART.General.Advantage.Full"}}
            </div>
        {{/if}}
        {{#if (eq roll.advantage.type -1)}}
            <div class="duality-modifier">
                {{localize "DAGGERHEART.General.Disadvantage.Full"}}
            </div>
        {{/if}}
    </div>
    <div class="dice-result">
        <div class="dice-formula">{{roll.formula}}</div>
        <div class="dice-tooltip">
            <div class="wrapper">
                <section class="tooltip-part">
                    <div class="dice">
                        <header class="part-header flexrow">
                            <span class="part-formula">
                                <span>1{{roll.hope.dice}}</span>
                                |
                                <span>1{{roll.fear.dice}}</span>
                            </span>
                            <span class="part-total">{{roll.result.total}}</span>
                        </header>
                        <div class="flexrow">
                            <ol class="dice-rolls duality">
                                <li class="roll die {{roll.hope.dice}}" title="{{localize "DAGGERHEART.General.Hope"}}">
                                    <div class="dice-container">
                                        <div class="dice-title">{{localize "DAGGERHEART.General.Hope"}}</div>
                                        <div class="dice-inner-container hope" title="{{localize "DAGGERHEART.General.Hope"}}">
                                            <div class="dice-wrapper">
                                                <img class="dice" src="../icons/svg/d12-grey.svg"/>
                                            </div>
                                            <div class="dice-value">{{roll.hope.value}}</div>
                                        </div>
                                    </div>
                                </li>
                                <li class="roll die {{roll.fear.dice}}" title="{{localize "DAGGERHEART.General.Fear"}}">
                                    <div class="dice-container">
                                        <div class="dice-title">{{localize "DAGGERHEART.General.Fear"}}</div>
                                        <div class="dice-inner-container fear" title="{{localize "DAGGERHEART.General.Fear"}}">
                                            <div class="dice-wrapper">
                                                <img class="dice" src="../icons/svg/d12-grey.svg"/>
                                            </div>
                                            <div class="dice-value">{{roll.fear.value}}</div>
                                        </div>
                                    </div>
                                </li>
                            </ol>
                        </div>  
                    </div>
                    {{#if roll.advantage.type}}
                        <div class="dice">
                            <header class="part-header flexrow">
                                <span class="part-formula">
                                    <span>1{{roll.advantage.dice}}</span>
                                </span>
                                <span class="part-total">{{roll.advantage.value}}</span>
                            </header>
                            <div class="flexrow">
                                <ol class="dice-rolls">
                                    <li class="roll die {{roll.advantage.dice}}">
                                        <div class="dice-container">
                                            <div class="dice-inner-container {{#if (eq roll.advantage.type 1)}}advantage{{else}}disadvantage{{/if}}">
                                                <div class="dice-wrapper">
                                                    <img class="dice" src="../icons/svg/d6-grey.svg"/>
                                                </div>
                                                <div class="dice-value">{{roll.advantage.value}}</div>
                                            </div>
                                        </div>
                                    </li>
                                </ol>
                            </div>  
                        </div>
                    {{/if}}
                    {{#if roll.modifierTotal}}<div class="duality-modifier">{{#if (gt roll.modifierTotal 0)}}+{{/if}}{{roll.modifierTotal}}</div>{{/if}}
                </section>
            </div>
        </div>
        <div class="dice-total duality {{#if (eq roll.result.duality 1)}}hope{{else}}{{#if (eq roll.result.duality -1)}}fear{{else}}critical{{/if}}{{/if}}">
            <div class="dice-total-label">{{roll.result.label}}</div>
            <div class="dice-total-value">
                {{roll.total}}
            </div>
        </div>
    </div>
</div>
{{> 'systems/daggerheart/templates/chat/parts/target-chat.hbs'}}
<div class="dice-roll daggerheart chat roll">
    <div class="dice-result">
        <div class="dice-actions{{#unless (or hasDamage hasHealing)}} duality-alone{{/unless}}">
            {{#if hasDamage}}
                    <button class="duality-action duality-action-damage" data-value="{{roll.total}}"><span>{{localize "DAGGERHEART.Chat.AttackRoll.RollDamage"}}</span></button>
            {{else}}
                {{#if hasHealing}}
                    <button class="duality-action duality-action-healing" data-value="{{roll.total}}"><span>{{localize "DAGGERHEART.Chat.AttackRoll.RollHealing"}}</span></button>
                {{/if}}
            {{/if}}
            {{#if hasEffect}}
                    <button class="duality-action{{#if (or hasDamage hasHealing)}} duality-action-effect{{/if}}" data-value="{{roll.total}}"><span>{{localize "DAGGERHEART.Chat.AttackRoll.ApplyEffect"}}</span></button>
            {{/if}}
            <div class="duality-result">
                <div>{{roll.total}} {{#if (eq roll.result.duality 1)}}With Hope{{else}}{{#if (eq roll.result.duality -1)}}With Fear{{else}}Critical Success{{/if}}{{/if}}</div>
            </div>
        </div>
    </div>
</div>
