<div class="dice-roll daggerheart chat roll">
    <div class="dice-result">
        <div class="dice-formula">{{roll}}</div>
        <div class="dice-tooltip {{#if advantage.value}}expanded{{/if}}">
            <ol class="dice-rolls duality">
                <div class="dice-hope-container">
                    <li id="hope" class="roll die {{hope.dice}} hope" title="{{localize "DAGGERHEART.General.Hope"}}">{{hope.value}}</li>
                    <li class="roll die {{fear.dice}} fear" title="{{localize "DAGGERHEART.General.Fear"}}">{{fear.value}}</li>
                    {{#if advantage.value}}
                        <li class="roll die {{advantage.dice}} advantage" title="{{localize "DAGGERHEART.General.Advantage.Full"}}">{{ advantage.value}}</li>
                    {{/if}}
                    {{#if disadvantage.value}}
                        <li class="roll die {{disadvantage.dice}} disadvantage" title="{{localize "DAGGERHEART.General.Disadvantage.Full"}}">{{disadvantage.value}}</li>
                    {{/if}}
                </div>
                <div class="modifiers-container">
                    {{#each modifiers}}
                        <li class="modifier-value" data-value="{{this.value}}" title="{{this.title}}">{{this.label}}</li>
                    {{/each}}
                </div>
            </ol>
        </div>
        <div class="dice-total">
            <div class="dice-total-label">{{totalLabel}}</div>
            <div class="dice-total-value">
                {{total}}
            </div>
        </div>
    </div>
</div>

{{!-- V1.3 --}}
{{!-- <div class="dice-roll daggerheart chat roll">
    <div class="dice-result">
        <div class="dice-formula">{{roll}}</div>
        <div class="dice-tooltip {{#if advantage.value}}expanded{{/if}}">
            <ol class="dice-rolls">
                <div class="dice-hope-container">
                    <li id="hope" class="roll die {{hope.dice}} hope {{#if (or (eq advantageSelected 2) (and disadvantage.value (gt hope.value disadvantage.value)))}}unused{{/if}} {{#if (and advantage.value (eq advantageSelected 0))}}advantage{{/if}}">{{hope.value}}</li>
                    {{#if advantage.value}}
                        <li class="roll die {{advantage.dice}} hope {{#if (eq advantageSelected 1)}}unused{{/if}} {{#if (eq advantageSelected 0)}}advantage{{/if}}">{{ advantage.value}}</li>
                    {{/if}}
                    {{#if disadvantage.value}}
                        <li class="roll die {{disadvantage.dice}} disadvantage {{#if (gte disadvantage.value hope.value)}}unused{{/if}}">{{disadvantage.value}}</li>
                    {{/if}}
                </div>
                <li class="roll die {{fear.dice}} fear">{{fear.value}}</li>
                <div class="modifiers-container">
                    {{#each modifiers}}
                        <li class="modifier-value" data-value="{{this.value}}" title="{{this.title}}">{{this.label}}</li>
                    {{/each}}
                </div>
            </ol>
        </div>
        <div class="dice-total">
            <div class="dice-total-label">{{totalLabel}}</div>
            <div class="dice-total-value">
                {{#if total.alternate}}
                    {{#with dualityDiceStates}}
                        <span class="{{this.hope}}">{{../total.normal}}</span> - <span class="{{this.alternate}}">{{../total.alternate}}</span>
                    {{/with}}
                {{else}}
                    {{total.normal}}
                {{/if}}
            </div>
        </div>
    </div>
</div> --}}