<form id="item-action-select">
    <header class="dialog-header">
        <h1>{{itemName}}</h1>
    </header>
    <ul class="actions-list">
    {{#each actions}}
        <li class="action-item">
            <input type="radio" id="action-{{_id}}" name="actionId" value="{{_id}}" {{#if (eq @index 0)}}checked{{/if}}>
            <label class="label" for="action-{{_id}}">{{ name }}</label>
        </li>
    {{/each}}
    </ul>
</form>