<div>
    <div class="beastforms-container">
        {{#each beastformTiers as |tier tierKey|}}
            <fieldset class="beastforms-tier">
                <legend>{{tier.label}}</legend>
                {{#each tier.values as |form uuid|}}
                    <div data-action="selectBeastform" data-uuid="{{uuid}}" data-tooltip="{{concat "#item#" uuid}}" class="beastform-container {{#if (and @root.canSubmit (not form.selected))}}inactive{{/if}}">
                        <img src="{{form.value.img}}" />
                        <div class="beastform-title">{{form.value.name}}</div>
                    </div>
                {{/each}}
            </fieldset>
        {{/each}}
    </div>
    <footer>
        <button type="button" data-action="submitBeastform" {{#if (not canSubmit)}}disabled{{/if}}>{{localize "DAGGERHEART.Sheets.Beastform.transform"}}</button>
    </footer>
</div>