<div>
    <div class="downtime-container">
        <h2 class="downtime-header">{{localize "DAGGERHEART.Downtime.DowntimeHeader" current=nrCurrentChoices  max=moveData.nrChoices}}</h2>
        {{#each moveData.moves as |move key|}}
            <div class="activity-container">
                <div class="activity-title">
                    <div class="activity-image {{#if this.selected}}selected{{/if}}" data-action="selectMove" data-move="{{key}}">
                        {{#if this.selected}}<div class="activity-select-label">{{move.selected}}</div>{{/if}}
                        <img src="{{move.img}}" />
                    </div>

                    <span class="activity-title-text">{{localize this.name}}</span>
                </div>
                <div class="activity-body">
                    {{localize this.description}}
                </div>
            </div>
        {{/each}}
    </div>
    <footer class="flexrow">
        <button type="button" data-action="close">{{localize "DAGGERHEART.Application.Cancel"}}</button>
        <button type="button" data-action="takeDowntime" {{#if this.disabledDowntime}}disabled{{/if}}>{{localize "DAGGERHEART.Application.Downtime.TakeDowntime"}}</button>
    </footer>
</div>