
<div class="npc-roll-dialog-container">
    <div class="selection-container">
        <div class="dice-container">
            <div class="dice-inner-container">
                <img src="icons/svg/d20-grey.svg" />
                <div class="dice-number">d20</div>
            </div>
            <div class="advantage-container">
                <button class="advantage-button {{#if this.advantage}}active{{/if}} advantage" data-action="updateIsAdvantage" data-advantage="true">{{localize "DAGGERHEART.General.Advantage.Full"}}</button>
                <button class="advantage-button {{#if (eq this.advantage false)}}active{{/if}} disadvantage" data-action="updateIsAdvantage">{{localize "DAGGERHEART.General.Disadvantage.Full"}}</button>
            </div>
        </div>
        <div class="roll-dialog-experience-container">
            {{#each this.experiences as |experience|}}
                <button class="experience-chip {{#if experience.selected}}active{{/if}}" data-action="selectExperience" id="{{id}}">{{experience.name}} {{experience.value}}</button>
            {{/each}}
        </div>
    </div>
    <footer class="flexrow">
        <button type="submit" class="roll-button">Roll</button>
    </footer>
</div>