<div class="ownership-outer-container">
    <div class="form-group">
        <div class="form-fields">
            <label>{{localize "DAGGERHEART.OwnershipSelection.Default"}}</label>
            <select name="ownership.default" data-dtype="Number">
                {{selectOptions @root.ownershipOptions selected=ownership.default  labelAttr="label" valueAttr="value" }}
            </select>
        </div>
    </div>
    {{#each ownership.players as |player id|}}
        <div class="ownership-container">
            <img src="{{player.img}}" />
            <div>{{player.name}}</div>
            <select name="{{concat "ownership.players." id ".type"}}" data-dtype="Number">
                {{selectOptions @root.ownershipOptions selected=player.ownership  labelAttr="label" valueAttr="value" }}
            </select>
        </div>
    {{/each}}
    <footer class="flexrow">
        <button type="submit">{{localize "Save"}}</button>
    </footer>
</div>