<div class="daggerheart dh-style tooltip">
    <h2 class="tooltip-title">{{item.name}}</h2>
    <img class="tooltip-image" src="{{item.img}}" />
    <div class="tooltip-description">{{{description}}}</div>

    <div class="tooltip-information-section triple spaced">
        <div class="tooltip-information">
            <label>{{localize "DAGGERHEART.GENERAL.Tiers.singular"}}</label>
            {{#with (lookup config.GENERAL.tiers item.system.tier) as | tier |}}
                <div>{{localize tier.label}}</div>
            {{/with}}
        </div>
        <div class="tooltip-information">
            <label>{{localize "Type"}}</label>
            {{#with (lookup config.ACTOR.adversaryTypes item.system.type) as | type |}}
                <div>{{localize type.label}}</div>
            {{/with}}
        </div>
        <div class="tooltip-information">
            <label>{{localize "DAGGERHEART.ACTORS.Adversary.FIELDS.difficulty.label"}}</label>
            <div>{{item.system.difficulty}}</div>
        </div>
    </div>
    <div class="tooltip-information-section spaced">
        <div class="tooltip-information">
            <label>{{localize "DAGGERHEART.GENERAL.HitPoints.plural"}}</label>
            <div>{{item.system.resources.hitPoints.max}}</div>
        </div>
        <div class="tooltip-information">
            <label>{{localize "DAGGERHEART.GENERAL.stress"}}</label>
            <div>{{item.system.resources.stress.max}}</div>
        </div>
        <div class="tooltip-information">
            <label>{{localize "DAGGERHEART.ITEMS.Armor.baseThresholds.major"}}</label>
            <div>{{item.system.damageThresholds.major}}</div>
        </div>
        <div class="tooltip-information">
            <label>{{localize "DAGGERHEART.ITEMS.Armor.baseThresholds.severe"}}</label>
            <div>{{item.system.damageThresholds.severe}}</div>
        </div>
        <div class="tooltip-information">
            <label>{{localize "DAGGERHEART.GENERAL.attack"}}</label>
            <div>{{numberFormat item.system.attack.roll.bonus sign=true}}</div>
        </div>
        <div class="tooltip-information">
            <label>{{localize "DAGGERHEART.GENERAL.damage"}}</label>
            <div>{{damageFormula item.system.attack item}}</div>
        </div>
    </div>

    <strong>{{localize "DAGGERHEART.GENERAL.Experience.plural"}}</strong>
    {{#each item.system.experiences as | experience |}}
        <div>{{experience.name}} {{numberFormat experience.value sign=true}}</div>
    {{/each}}

    <div class="tooltip-information-section">
        <div class="tooltip-information full-width">
            <label>{{localize "DAGGERHEART.ACTORS.Adversary.FIELDS.motivesAndTactics.label"}}</label>
            <div>{{item.system.motivesAndTactics}}</div>
        </div>
    </div>
</div>