<div class="daggerheart dh-style tooltip">
    <h2 class="tooltip-title">{{item.name}}</h2>
    <img class="tooltip-image" src="{{item.img}}" />
    <div class="tooltip-description">{{{description}}}</div>

    <div class="tooltip-information-section">
        <div class="tooltip-information full-width">
            <label>{{localize "DAGGERHEART.ITEMS.Armor.baseScore"}}</label>
            <div>{{item.system.baseScore}}</div>
        </div>
        
        <div class="tooltip-information">
            <label>{{localize "DAGGERHEART.ITEMS.Armor.baseThresholds.major"}}</label>
            <div>{{item.system.baseThresholds.major}}</div>
        </div>
        <div class="tooltip-information">
            <label>{{localize "DAGGERHEART.ITEMS.Armor.baseThresholds.severe"}}</label>
            <div>{{item.system.baseThresholds.severe}}</div>
        </div>
    </div>
</div>