<section class='tab-footer'>
    {{#if this.levelupAuto}}
        <div class="levelup-navigation-actions {{#if (not this.showTabs)}}test{{/if}}">       
            {{#if this.navigate.previous.fromSummary}}
                <button data-action="activatePart" data-part="advancements">{{localize "DAGGERHEART.APPLICATIONS.Levelup.navigateToLevelup"}}</button>
                <button data-action="save" {{#if (not this.levelup.allLevelsFinished)}}disabled{{/if}}>{{localize "Finish Levelup"}}</button>
            {{else}}
                {{#if (not this.navigate.previous.disabled)}}
                    <button data-action="updateCurrentLevel" >{{this.navigate.previous.label}}</button>
                {{/if}}
            {{/if}}
            {{#if this.navigate.next.show}}
                {{#if this.navigate.next.toSummary}}
                    <button data-action="activatePart" data-part="summary"  {{#if this.navigate.next.disabled}}disabled{{/if}}>{{localize "DAGGERHEART.APPLICATIONS.Levelup.navigateToSummary"}}</button>
                {{else}}
                    <button data-action="updateCurrentLevel" data-forward="true" {{#if this.navigate.next.disabled}}disabled{{/if}}>{{this.navigate.next.label}}</button>
                {{/if}}
            {{/if}}
        </div>
    {{/if}}
    {{#unless levelupAuto}}
        <div class="levelup-footer">
            <button type="button" data-action="close">{{localize "Cancel"}}</button>
            <button type="button" data-action="save">{{localize "Save"}}</button>
        </div>
    {{/unless}}
</section>