<header class='adversary-header-sheet'>
    <line-div></line-div>
    <div class="name-row">
        <h1 class='actor-name'>
            <input type='text' name='name' value='{{source.name}}' placeholder="{{localize "DAGGERHEART.GENERAL.actorName"}}"
            />
        </h1>
    </div>
    <div class="tags">
        <div class="tag">
            <span>
                {{localize (concat 'DAGGERHEART.GENERAL.Tiers.' source.system.tier)}}
            </span>
        </div>
        <div class="tag">
            <span>
                {{localize (concat 'DAGGERHEART.CONFIG.AdversaryType.' source.system.type '.label')}}
            </span>
        </div>
        {{#if (eq source.system.type 'horde')}}
            <div class="tag">
                <span>{{source.system.hordeHp}}</span>
                <span>/{{localize "DAGGERHEART.GENERAL.HitPoints.short"}}</span>
            </div>
        {{/if}}
    </div>
    <line-div></line-div>
    <div class="adversary-info">
        <div class="description">
            <i>{{{description}}}</i>
        </div>
        <div class="motives-and-tatics">
            <b>{{localize 'DAGGERHEART.ACTORS.Adversary.FIELDS.motivesAndTactics.label'}}: </b>{{{source.system.motivesAndTactics}}}
        </div>
    </div>

    <div class="adversary-navigation">
        {{> 'systems/daggerheart/templates/sheets/global/tabs/tab-navigation.hbs'}}
        <button type="button" data-action="openSettings" data-tooltip-text="{{localize "DAGGERHEART.UI.Tooltip.openSheetSettings"}}">
            <i class="fa-solid fa-wrench"></i>
        </button>
    </div>
</header>