<section
    class='tab {{tabs.information.cssClass}} {{tabs.information.id}}'
    data-tab='{{tabs.information.id}}'
    data-group='{{tabs.information.group}}'
>
    {{!-- <fieldset>
        <legend>{{localize "DAGGERHEART.Sheets.Adversary.FIELDS.description.label" }}</legend>

        {{formInput systemFields.description value=source.system.description}}
    </fieldset> --}}

    <fieldset>
        <legend>{{localize "DAGGERHEART.Sheets.Adversary.FIELDS.motivesAndTactics.label" }}</legend>

        {{formInput systemFields.motivesAndTactics value=source.system.motivesAndTactics}}
    </fieldset>
</section>
