<section
    class='tab {{tabs.main.cssClass}} {{tabs.main.id}}'
    data-tab='{{tabs.main.id}}'
    data-group='{{tabs.main.group}}'
>
    <div class="adversary-container">
        <button data-action="reactionRoll">Reaction Test</button>
        <fieldset class="two-columns even">
            <legend>{{localize "DAGGERHEART.Sheets.Adversary.General"}}</legend>

            {{formGroup systemFields.tier value=source.system.tier localize=true}}
            {{formGroup systemFields.type value=source.system.type localize=true}}
            <div class="full-width">{{formGroup systemFields.difficulty value=source.system.difficulty}}</div>

            <fieldset>
                <legend>{{localize "DAGGERHEART.Sheets.Adversary.DamageThresholds"}}</legend>

                {{formGroup systemFields.damageThresholds.fields.major value=source.system.damageThresholds.major}}
                {{formGroup systemFields.damageThresholds.fields.severe value=source.system.damageThresholds.severe}}
            </fieldset>
            
            <fieldset>
                <legend>{{localize "DAGGERHEART.Sheets.Adversary.HitPoints"}}</legend>

                {{formGroup systemFields.resources.fields.hitPoints.fields.value value=source.system.resources.hitPoints.value}}
                {{formGroup systemFields.resources.fields.hitPoints.fields.max value=source.system.resources.hitPoints.max}}
            </fieldset>

            <fieldset>
                <legend>{{localize "DAGGERHEART.Sheets.Adversary.Stress"}}</legend>

                {{formGroup systemFields.resources.fields.stress.fields.value value=source.system.resources.stress.value}}
                {{formGroup systemFields.resources.fields.stress.fields.max value=source.system.resources.stress.max}}
            </fieldset>

            <fieldset>
                <legend>{{localize "DAGGERHEART.Sheets.Adversary.Experiences"}} <a><i class="fa-solid fa-plus icon-button" data-action="addExperience"></i></a></legend>

                {{#each source.system.experiences}}
                    <fieldset class="one-column">
                        <legend>{{this.name}} <a><i class="fa-solid fa-trash icon-button" data-action="removeExperience" data-experience="{{@key}}"></i></a></legend>

                        {{formGroup @root.systemFields.experiences.element.fields.name name=(concat "system.experiences." @key ".name") value=this.name }}
                        {{formGroup @root.systemFields.experiences.element.fields.value name=(concat "system.experiences." @key ".value") value=this.value }}
                    </fieldset>
                {{/each}}
            </fieldset>
        </fieldset>

        <fieldset class="two-columns even">
            <legend>{{localize "DAGGERHEART.Sheets.Adversary.Attack"}}</legend>
            <button data-action="attackConfigure">Configure</button>
            <button data-action="attackRoll">Attack</button>
            <fieldset class="action-category" style="grid-column: 1 / -1;">
                <legend class="action-category-label" data-action="toggleSection" data-section="range">
                    <div>Name</div>
                </legend>
                <div class="action-category-data open">
                    {{formGroup systemFields.attack.fields.name value=source.system.attack.name name="system.attack.name"}}
                    {{formGroup systemFields.attack.fields.img value=source.img label="Icon" name="system.attack.img"}}
                </div>
            </fieldset>
            <div>
                <fieldset class="action-category">
                    <legend class="action-category-label" data-action="toggleSection" data-section="range">
                        <div>Bonus to Hit</div>
                    </legend>
                    <div class="action-category-data open">
                        {{formField systemFields.attack.fields.roll.fields.bonus value=source.system.attack.roll.bonus name="system.attack.roll.bonus"}}
                    </div>
                </fieldset>
                {{> 'systems/daggerheart/templates/views/actionTypes/range-target.hbs' fields=(object range=systemFields.attack.fields.range target=systemFields.attack.fields.target.fields) source=(object target=source.system.attack.target range=source.system.attack.range) path="system.attack."}}
            </div>
            {{> 'systems/daggerheart/templates/views/actionTypes/damage.hbs' fields=systemFields.attack.fields.damage.fields.parts.element.fields source=source.system.attack.damage path="system.attack."}}
            <div style="grid-column: 1 / -1;">
                {{> 'systems/daggerheart/templates/views/actionTypes/effect.hbs' fields=systemFields.attack.fields.effects.element.fields source=source.system.attack.effects}}
            </div>
        </fieldset> 
    </div>
</section>
