<div class="inventory-container">
    {{#each this.inventory as |section key|}}
        <ol class="inventory-item-list inventory-item-header">
            <li class="item inventory-title-row-container">
                <div class="inventory-title-row">
                    <div class="inventory-item-title-container">{{section.titles.name}}</div>
                    <div class="inventory-item-quantity title">{{section.titles.quantity}}</div>
                </div>
            </li>
        </ol>
        <ol class="item-list inventory-item-list">
            {{#each this.items as |item|}}
                <li class="item inventory-item">
                    <div class="inventory-row" data-item-id="{{item.uuid}}">
                        <div class="inventory-item-title-container">
                            <div data-action="useItem" data-value="{{item.uuid}}" class="inventory-item-title">
                                <img src="{{item.img}}" />
                                {{item.name}}
                            </div>
                        </div>
                        <div class="flexrow">
                            <button data-action="toggleEquipItem" id="{{item.id}}">{{localize "Equip"}}</button>
                        </div>
                        <div class="inventory-item-quantity spaced">
                            <i data-action="itemQuantityDecrease" class="fa-solid fa-chevron-left icon-button {{#if (lte item.system.quantity 1)}}disabled{{/if}}"></i>
                            <input type="text" data-item="system.quantity" value="{{item.system.quantity}}" data-dtype="Number" />
                            <i data-action="itemQuantityIncrease" class="fa-solid fa-chevron-right icon-button"></i>
                        </div>
                        <i data-action="deleteItem" class="fas fa-trash icon-button secondary row-icon"></i>
                    </div>
                </li>
            {{/each}}
        </ol>
    {{/each}}
</div>