<div class="domain-card-body">
    <nav class="sheet-tabs tabs">
        {{#each tabs.secondary as |tab|}}
            <a class="item {{tab.cssClass}}" data-action="tab" data-group="{{tab.group}}" data-tab="{{tab.id}}">
                <i class="{{tab.icon}}"></i>
                <label>{{localize tab.label}}</label>
            </a>
        {{/each}}
    </nav>
    <section class="loadout-body flexcol">
        <div class="tab" data-group="secondary" data-tab="foundation">
            <div class="heritage-container">
                <div class="card-row">
                    <div class="heritage-card {{#if (not abilities.foundation.ancestry)}}outlined{{/if}}">
                        {{#if abilities.foundation.ancestry}}
                            {{> "systems/daggerheart/templates/sheets/character/parts/heritageCard.hbs" card=abilities.foundation.ancestry }}
                        {{else}}
                            <div class="empty-ability-container">
                                <div class="empty-ability-inner-container">
                                    <div>{{localize "DAGGERHEART.Sheets.PC.Heritage.EmptyAncestry"}}</div>
                                    <div>{{localize "DAGGERHEART.Sheets.PC.Heritage.EmptyAncestryTip"}}</div>
                                </div>
                                <div class="empty-ability-inner-container"></div>
                            </div>
                        {{/if}} 
                    </div>
                    <div class="heritage-card {{#if (not abilities.foundation.community)}}outlined{{/if}}">
                        {{#if abilities.foundation.community}}
                            {{> "systems/daggerheart/templates/sheets/character/parts/heritageCard.hbs" card=abilities.foundation.community }}
                        {{else}}
                            <div class="empty-ability-container">
                                <div class="empty-ability-inner-container">
                                    <div>{{localize "DAGGERHEART.Sheets.PC.Heritage.EmptyCommunity"}}</div>
                                    <div>{{localize "DAGGERHEART.Sheets.PC.Heritage.EmptyCommunityTip"}}</div>
                                </div>
                                <div class="empty-ability-inner-container"></div>
                            </div>
                        {{/if}} 
                    </div>
                </div>
                <div class="card-row">
                    <div class="heritage-card {{#if (not abilities.foundation.advancement.foundation)}}outlined{{/if}}">
                        {{#if abilities.foundation.advancement.foundation}}
                            {{> "systems/daggerheart/templates/sheets/character/parts/advancementCard.hbs" card=abilities.foundation.advancement.foundation }}
                        {{else}}
                            <div class="empty-ability-container">
                                <div class="empty-ability-inner-container">
                                <div>{{localize "DAGGERHEART.Sheets.PC.Heritage.SubclassFoundation"}}</div>
                                <div>{{localize "DAGGERHEART.Sheets.PC.Heritage.SubclassFoundationTip"}}</div>
                                </div>
                                <div class="empty-ability-inner-container"></div>
                            </div>
                        {{/if}}
                    </div>
                    <div class="heritage-card {{#if (not abilities.foundation.advancement.first)}}outlined{{/if}}">
                        {{#if abilities.foundation.advancement.first}}
                            {{> "systems/daggerheart/templates/sheets/character/parts/advancementCard.hbs" card=abilities.foundation.advancement.first }}
                        {{else}}
                            <div class="empty-ability-container">
                                <div class="empty-ability-inner-container">
                                    <div>{{localize "DAGGERHEART.Sheets.PC.Heritage.Subclass"}}</div>
                                    <div>{{localize "DAGGERHEART.General.Or"}}</div>
                                    <div>{{localize "DAGGERHEART.Sheets.PC.Heritage.Multiclass"}}</div>
                                </div>
                                <div class="empty-ability-inner-container"><i class="fa-solid fa-lock"></i></div>
                            </div>                                
                        {{/if}}
                    </div>
                    <div class="heritage-card {{#if (not abilities.foundation.advancement.second)}}outlined{{/if}}">
                        {{#if abilities.foundation.advancement.second}}
                            {{> "systems/daggerheart/templates/sheets/character/parts/advancementCard.hbs" card=abilities.foundation.advancement.second}}
                        {{else}}
                            <div class="empty-ability-container">
                                <div class="empty-ability-inner-container">
                                    <div>{{localize "DAGGERHEART.Sheets.PC.Heritage.Subclass"}}</div>
                                    <div>{{localize "DAGGERHEART.General.Or"}}</div>
                                    <div>{{localize "DAGGERHEART.Sheets.PC.Heritage.Multiclass"}}</div>
                                </div>
                                <div class="empty-ability-inner-container"><i class="fa-solid fa-lock"></i></div>
                            </div>                               
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
        <div class="tab" data-group="secondary" data-tab="loadout">
            <div class="loadout-container">
                <div class="top-card-row">
                    {{#times 2}}
                        <div class="domain-card {{#if (not (lookup ../abilities.loadout.top this))}}outlined{{/if}}">
                            {{#with (lookup ../abilities.loadout.top this)}}
                                {{> "systems/daggerheart/templates/sheets/parts/domainCard.hbs" card=this inVault=false }}
                            {{/with}}
                            {{#if (not (lookup ../abilities.loadout.top this))}}
                                <div class="empty-ability-container">
                                    <div class="empty-ability-inner-container">{{localize "DAGGERHEART.Sheets.PC.DomainCard.AvailableDomainSlot"}}</div>
                                    <div class="empty-ability-inner-container"></div>
                                </div>
                            {{/if}}
                        </div>
                    {{/times}}
                </div>
                <div class="card-row">
                    {{#times 3}}
                        <div class="domain-card {{#if (not (lookup ../abilities.loadout.bottom this))}}outlined{{/if}}">
                            {{#with (lookup ../abilities.loadout.bottom this)}}
                                {{> "systems/daggerheart/templates/sheets/parts/domainCard.hbs" card=this inVault=false }}
                            {{/with}}
                            {{#if (gt (add this 3) ../actor/system/domainData.maxLoadout)}}
                                <div class="empty-ability-container">
                                        <div class="empty-ability-inner-container">{{localize "DAGGERHEART.Sheets.PC.DomainCard.UnavailableDomainSlot" level=(add this 2)}}</div>
                                        <div class="empty-ability-inner-container"><i class="fa-solid fa-lock"></i></div>
                                </div>
                            {{/if}}
                            
                            {{#if (and (lte (add this 3) ../actor/system/domainData.maxLoadout) (lt ../abilities.loadout.bottom.length (add this 1)))}}
                                 <div class="empty-ability-container">
                                    <div class="empty-ability-inner-container">{{localize "DAGGERHEART.Sheets.PC.DomainCard.AvailableDomainSlot"}}</div>
                                    <div class="empty-ability-inner-container"></div>
                                </div>
                            {{/if}}
                        </div>
                    {{/times}}
                </div>
            </div>
        </div>
        <div class="tab" data-group="secondary" data-tab="vault">
            <div class="vault-container">
                {{#each abilities.vault}}
                    <div class="vault-card">
                        {{> "systems/daggerheart/templates/sheets/parts/domainCard.hbs" card=this inVault=true }}
                    </div>
                {{/each}}
            </div>
        </div>
    </section>
</div>