<section 
    class="tab {{this.tabs.base.cssClass}}"
    data-group="primary"
    data-tab="base"
>
    <fieldset class="one-column">
        <legend>{{localize "DAGGERHEART.GENERAL.identify"}}</legend>
        {{formField fields.name value=source.name label="Name" name="name"}}
        {{formField fields.img value=source.img label="Icon" name="img"}}
        {{formField fields.actionType value=source.actionType label="Type" name="actionType" localize=true}}
        {{formField fields.chatDisplay value=source.chatDisplay name="chatDisplay" classes="checkbox" localize=true}}
    </fieldset>
    <fieldset class="action-category">
        <legend>{{localize "DAGGERHEART.GENERAL.description"}}</legend>
        {{formInput fields.description value=source.description enriched=source.description name="description" toggled=true }}
    </fieldset>
</section>