<aside id="players" class="app daggerheart {{#if hide}}hidden{{/if}}">
    <h3 aria-label="{{localize 'PLAYERS.Title'}}" role="button">
        <div class="flex-centered">
            <i class="fas fa-users"></i>
            {{ localize "PLAYERS.Title" }}
            {{#if showOffline}}
            <i class="players-mode fas fa-angle-down"></i>
            {{else}}
            <i class="players-mode fas fa-angle-up"></i>
            {{/if}}
        </div>
        <div class="players-container">
            <i class="fa-solid fa-skull"></i>
            <div>{{this.fear}}</div>
            {{#if user.isGM}}
                <div class="flexcol">
                    <i class="fa-solid fa-chevron-up fear-control up {{#if (gte this.fear 6)}}disabled{{/if}}"></i>
                    <i class="fa-solid fa-chevron-down fear-control down {{#if (lte this.fear 0)}}disabled{{/if}}"></i>
                </div>
            {{/if}}
        </div>
    </h3>

    <ol aria-label="{{localize 'PLAYERS.List'}}" tabIndex="0" id="player-list">
        {{#each users as |user|}}
        <li class="player {{#if user.isGM}}gm{{/if}} flexrow" data-user-id="{{user._id}}">
			<span class="player-active {{#if user.active}}active{{else}}inactive{{/if}}"
                  style="background: {{user.color}}; border: 1px solid {{user.border.css}}"></span>
            <span class="player-name {{#if user.isSelf}}self{{/if}}" data-tooltip="{{user.displayName}}">
				{{user.displayName}}
			</span>
        </li>
        {{/each}}
    </ol>
</aside>
