<div>
    <div class="form-group">
        <label>{{localize "Icon"}}</label>

        <div class="form-field">
            <input type="text" name="icon" value="{{icon}}" />
        </div>
    </div>

    <fieldset>
        <legend>{{localize "Description"}}</legend>
        
        <prose-mirror name="description" value="{{description}}">
            {{{ enrichedDescription }}}
        </prose-mirror>
    </fieldset>
</div>