<div class="temp-container standard-form">
    <img class="profile" src="{{document.img}}" alt="{{document.name}}" data-action='editImage' data-edit="img">
    <div class="form-group">
        <div class="form-fields">
            <label>{{localize "DAGGERHEART.Sheets.Companion.FIELDS.partner.label"}}</label>
            <select class="partner-value">
                {{selectOptions playerCharacters selected=source.system.partner.uuid labelAttr="name" valueAttr="key" blank=""}}
            </select>
        </div>
    </div>
    
    {{formGroup systemFields.resources.fields.stress.fields.value value=source.system.resources.stress.value localize=true }}
    {{formGroup systemFields.evasion.fields.value value=source.system.evasion.value localize=true }}
    
    <div>{{localize "DAGGERHEART.Sheets.Companion.Experiences"}}</div>
    <div class="flexcol">
        {{#each source.system.experiences as |experience key|}}
            <div class="flexrow">
                <input type="text" name="{{concat "system.experiences." key ".name"}}" value="{{experience.name}}" />
                <div>{{signedNumber experience.value}}</div>
            </div>
        {{/each}}
    </div>

    <div class="flexrow">
        <div class="form-group">
            <div class="form-fields">
                <label>{{localize "DAGGERHEART.Sheets.Companion.FIELDS.attack.name.label"}}</label>
                <input type="text" name="system.attack.name" value="{{source.system.attack.name}}" />
                <button data-action="attackRoll">Attack</button>
            </div>
        </div>
    </div>

    <div class="flexrow">
        <div class="form-group">
            <div class="form-fields">
                <label>{{localize "DAGGERHEART.Sheets.Companion.Level"}}</label>
                <div>{{source.system.levelData.level.changed}}</div>
                <button data-action="levelUp" {{#if (not source.system.levelData.canLevelUp)}}disabled{{/if}}>Level Up</button>
            </div>
        </div>
    </div>
</div>