<div>
    <header class="flexcol">
        <div class="title-container">
            <img class="flex0" src="{{document.img}}" data-edit="img" data-action="onEditImage" title="{{document.name}}" height="64" width="64"/>
            <div class="title-name">
                {{formInput fields.name value=source.name rootId=partId}}
            </div>
        </div>
    </header>

    <section class="sheet-body">
        <div class="flexrow item-container">
            <div class="item-sidebar">
                {{formField systemFields.quantity value=source.system.quantity label=(localize "DAGGERHEART.Sheets.Consumable.Quantity") }}
                {{formField systemFields.consumeOnUse value=source.system.consumeOnUse label=(localize "DAGGERHEART.Sheets.Consumable.ConsumeOnUse")}}
                {{!-- <div class="form-group">
                    <label>{{localize "DAGGERHEART.Sheets.Consumable.Quantity"}}</label>
                    <div class="form-fields">
                        <input type="text" name="system.quantity" value="{{item.system.quantity}}" data-dtype="Number" />
                    </div>
                </div> --}}
                {{!-- <div class="form-group flexrow">
                    <label>{{localize "DAGGERHEART.Sheets.Consumable.ConsumeOnUse"}}</label>
                    <div class="form-fields flex0">
                        <input type="checkbox" name="system.consumeOnUse" {{checked item.system.consumeOnUse}} />
                    </div>
                </div> --}}
            </div>
             <div>
                <h2 class="flex-col-centered">{{localize "DAGGERHEART.General.Description"}}</h2>
                {{formInput systemFields.description value=source.system.description enriched=source.system.description localize=true toggled=true}}
                {{!-- {{editor item.system.description target="system.description" button=true}} --}}
            </div>
        </div>
    </section>
</div> 