<div 
    class="component dh-style card-preview-container {{#if (and (not this.disabled) (and this.compendium (not this.img)))}}selectable{{/if}} {{#if this.disabled}}disabled{{/if}}" 
    {{#if (not disabled)}}data-action="viewCompendium"{{/if}} data-compendium="{{this.compendium}}" data-path="{{this.path}}" data-limit="{{this.limit}}"
>
    {{#if this.img}}
        <img class="preview-image-container" src="{{this.img}}" />
        <div class="preview-text-container">
            {{#if altPartialBlock}}
                {{> @partial-block }}
            {{else}}
                {{this.name}}
            {{/if}}
        </div>
    {{else}}
        <div class="preview-empty-container">
            <div class="preview-empty-inner-container">
                <i class="preview-add-icon fa-solid fa-plus"></i>
                <div class="preview-empty-subtext">{{> @partial-block }}</div>
            </div>
        </div>
    {{/if}}
</div>