<section
    class='tab {{tabs.features.cssClass}} {{tabs.features.id}}'
    data-tab='{{tabs.features.id}}'
    data-group='{{tabs.features.group}}'
>
    <fieldset class="drop-section" data-type="foundationFeature">
        <legend>
            {{localize "DAGGERHEART.GENERAL.Tabs.foundation"}} 
            <a {{#if source.system.foundationFeature}}disabled{{/if}}><i data-action="addFeature" data-type="foundationFeature" class="fa-solid fa-plus icon-button {{#if source.system.foundationFeature}}disabled{{/if}}"></i></a>
        </legend>

        <div class="feature-list">
            {{#if source.system.foundationFeature}}
                {{> 'systems/daggerheart/templates/sheets/global/partials/feature-section-item.hbs' type='foundationFeature' feature=source.system.foundationFeature}}
            {{/if}}
        </div>
    </fieldset>

    <fieldset class="drop-section" data-type="specializationFeature">
        <legend>
            {{localize "DAGGERHEART.GENERAL.Tabs.specialization"}} 
            <a {{#if source.system.specializationFeature}}disabled{{/if}}><i data-action="addFeature" data-type="specializationFeature" class="fa-solid fa-plus icon-button {{#if source.system.specializationFeature}}disabled{{/if}}"></i></a>
        </legend>

        <div class="feature-list">
            {{#if source.system.specializationFeature}}
                {{> 'systems/daggerheart/templates/sheets/global/partials/feature-section-item.hbs' type='specializationFeature' feature=source.system.specializationFeature}}
            {{/if}}
        </div>
    </fieldset>

    <fieldset class="drop-section" data-type="masteryFeature">
        <legend>
            {{localize "DAGGERHEART.GENERAL.Tabs.mastery"}} 
            <a {{#if source.system.masteryFeature}}disabled{{/if}}><i data-action="addFeature" data-type="masteryFeature" class="fa-solid fa-plus icon-button {{#if source.system.masteryFeature}}disabled{{/if}}"></i></a>
        </legend>

        <div class="feature-list">
            {{#if source.system.masteryFeature}}
                {{> 'systems/daggerheart/templates/sheets/global/partials/feature-section-item.hbs' type='masteryFeature' feature=source.system.masteryFeature}}
            {{/if}}
        </div>
    </fieldset>
</section>