<section
    class='tab {{tabs.features.cssClass}} {{tabs.features.id}}'
    data-tab='{{tabs.features.id}}'
    data-group='{{tabs.features.group}}'
>
    <fieldset class="drop-section" data-type="foundation">
        <legend>
            {{localize "DAGGERHEART.GENERAL.Tabs.foundation"}} 
            <a><i data-action="addFeature" data-type="foundation" class="fa-solid fa-plus icon-button"></i></a>
        </legend>

        <div class="feature-list">
            {{#each source.system.foundationFeatures as | feature | }}
                {{> 'systems/daggerheart/templates/sheets/global/partials/feature-section-item.hbs' type='foundation' feature=feature}}
            {{/each}}
        </div>
    </fieldset>

    <fieldset class="drop-section" data-type="specialization">
        <legend>
            {{localize "DAGGERHEART.GENERAL.Tabs.specialization"}} 
            <a><i data-action="addFeature" data-type="specialization" class="fa-solid fa-plus icon-button"></i></a>
        </legend>

        <div class="feature-list">
            {{#each source.system.specializationFeatures as | feature |}}
                {{> 'systems/daggerheart/templates/sheets/global/partials/feature-section-item.hbs' type='specialization' feature=feature}}
            {{/each}}
        </div>
    </fieldset>

    <fieldset class="drop-section" data-type="mastery">
        <legend>
            {{localize "DAGGERHEART.GENERAL.Tabs.mastery"}} 
            <a><i data-action="addFeature" data-type="mastery" class="fa-solid fa-plus icon-button"></i></a>
        </legend>

        <div class="feature-list">
            {{#each source.system.masteryFeatures as | feature |}}
                {{> 'systems/daggerheart/templates/sheets/global/partials/feature-section-item.hbs' type='mastery' feature=feature}}
            {{/each}}
        </div>
    </fieldset>
</section>