<section
    class='tab {{tabs.settings.cssClass}} {{tabs.settings.id}}'
    data-tab='{{tabs.settings.id}}'
    data-group='{{tabs.settings.group}}'
>

    <fieldset class="two-columns">
        <legend>{{localize tabs.settings.label}}</legend>
        <span>{{localize "DAGGERHEART.Sheets.Subclass.SpellcastingTrait"}}</span>
        {{formField systemFields.spellcastingTrait value=source.system.spellcastingTrait localize=true}}
    </fieldset>
</section>