<div>
    {{#if uses}}
        <div class="form-group">
            <div class="form-fields">
                <label for="uses.enabled">Uses: {{uses.value}}/{{uses.max}}</label>
                <input name="uses.enabled" type="checkbox"{{#if uses.enabled}} checked{{/if}}>
            </div>
        </div>
    {{/if}}
    {{#each costs as | cost index |}}
        <div class="form-group">
            <div class="form-fields">
                <label for="{{type}}">{{type}}: {{total}}</label>
                <input name="costs.{{index}}.enabled" type="checkbox"{{#if enabled}} checked{{/if}}>
                {{#if scalable}}
                    <input type="range" value="{{scale}}" min="1" max="10" step="{{step}}" name="costs.{{index}}.scale">
                {{/if}}
            </div>
        </div>
    {{/each}}
    {{!-- <footer>
        <button data-action="sendCost"{{#unless canUse}} disabled{{/unless}}>Accept</button>
    </footer> --}}
</div>