<section class="creation-action-footer">
    <button data-action="close">{{localize "Cancel"}}</button>
    {{#if isLastTab}}
        <button data-action="finish" {{disabled (not tabs.setup.finished)}}>{{localize "DAGGERHEART.APPLICATIONS.CharacterCreation.finishCreation"}}</button>
    {{else}}
        <button data-action="setupGoNext" {{disabled nextDisabled}}>{{localize "Next"}}</button>
    {{/if}}
</section>