<header class='item-sheet-header'>
    <img class='profile' src="{{source.img}}" data-action="editImage" data-edit="img" alt="{{localize "EFFECT.FIELDS.img.label"}}">
    <div class='item-info'>
        <h1 class='item-name'><input name="name" type="text" value="{{source.name}}" placeholder="{{localize "EFFECT.FIELDS.name.label"}}"
        aria-label="{{localize "EFFECT.FIELDS.name.label"}}"></h1>
    </div>
</header>