<section
    class='tab {{tabs.main.cssClass}} {{tabs.main.id}}'
    data-tab='{{tabs.main.id}}'
    data-group='{{tabs.main.group}}'
>
    <fieldset class="two-columns even">
        <legend>{{localize "DAGGERHEART.Sheets.Environment.general"}}</legend>
        
        {{formGroup systemFields.tier value=source.system.tier localize=true }}
        {{formGroup systemFields.type value=source.system.type localize=true }}
        {{formGroup systemFields.difficulty value=source.system.difficulty localize=true }}
    </fieldset>

    <fieldset class="one-column">
        <legend>{{localize "DAGGERHEART.Sheets.Environment.potentialAdversaries.label"}}<a><i class="fa-solid fa-plus icon-button" data-action="addAdversary"></i></a></legend>

        {{#each source.system.potentialAdversaries}}
            <fieldset class="potential-adversary-container" data-potential-adversary="{{@key}}">
                <legend><input name="{{concat "system.potentialAdversaries." id ".label" }}" value="{{this.label}}" /><i class="fa-solid fa-trash" data-action="deleteProperty" data-path="system.potentialAdversaries" id={{@key}}></i></legend>
                {{#if (eq (length this.adversaries) 0)}}
                    <div class="adversary-placeholder">{{localize "DAGGERHEART.Sheets.Environment.potentialAdversaries.placeholder"}}</div>
                {{else}}
                    <div class="adversaries-container">
                        {{#each this.adversaries as |adversary id|}}
                            <div class="adversary-container" data-action="viewAdversary" data-potential-adversary="{{@../key}}" data-adversary="{{id}}">{{adversary.name}}</div>
                        {{/each}}
                    </div>
                {{/if}}
            </fieldset>
        {{/each}}
    </fieldset>

    <fieldset class="one-column">
        <legend>{{localize "DAGGERHEART.Sheets.Environment.features.label"}}<a><i class="fa-solid fa-plus icon-button" data-action="addFeature"></i></a></legend>

    </fieldset>
</section>