<div class="abilities-card">
    <div class="abilities-card-image-container">
        <img class="abilities-card-image" src="{{card.img}}" />
        <div class="abilities-card-level">
            {{#each card.domains}}
                <img src="{{this}}" />
            {{/each}}
        </div>
        <div class="abilities-card-type">
            <div class="abilities-card-type-text">{{card.className}}</div>
        </div>  
    </div>
    <div class="abilities-text-container">
        <div class="abilities-card-title">{{card.subclassName}}</div>
        <div class="abilities-card-sub-title">{{card.subtitle}}</div>
        {{#if card.spellcast}}<div class="abilities-card-spellcast"><span class="title">Spellcast: </span>&nbsp;<span>{{localize card.spellcast}}</span></div>{{/if}}
        <div class="abilities-card-description abilities-card-effect" data-action="useAdvancementCard" data-multiclass="{{card.multiclass}}" data-key="{{card.type}}">{{{card.description}}}</div>
        <div class="abilities-card-abilities">
            {{#each card.abilities as |ability key|}}
                <div class="abilities-card-ability" data-action="useAdvancementAbility" data-id="{{ability.uuid}}" data-key="{{key}}">
                    <span class="abilities-text"><strong>{{ability.name}}</strong></span>
                    {{{ability.system.description}}}
                </div>
            {{/each}}
        </div>
    </div>
</div>