<section
    class="tab {{tabs.settings.cssClass}} {{tabs.settings.id}}"
    data-tab="{{tabs.settings.id}}"
    data-group="{{tabs.settings.group}}"
>
    <div class="scrollable">
        <header class="dialog-header">
            <h1>{{localize 'DAGGERHEART.SETTINGS.Menu.homebrew.name'}}</h1>
        </header>
        {{formGroup settingFields.schema.fields.maxFear value=settingFields._source.maxFear localize=true}}
        {{formGroup settingFields.schema.fields.maxDomains value=settingFields._source.maxDomains localize=true}}
        {{formGroup settingFields.schema.fields.maxLoadout value=settingFields._source.maxLoadout localize=true}}
        <div class="settings-hint"><label>{{localize "DAGGERHEART.SETTINGS.Homebrew.FIELDS.maxLoadout.hint"}}</label></div>

        <h4>{{localize "DAGGERHEART.SETTINGS.Homebrew.FIELDS.traitArray.label"}}</h4>
        <div class="trait-array-container">
            {{#each settingFields._source.traitArray as |trait index|}}
                <div class="trait-array-item">
                    <label>{{localize "DAGGERHEART.GENERAL.Modifier.single"}} {{add index 1}}</label>
                    <input type="text" data-dtype="Number" name="{{concat "traitArray." index}}" value="{{this}}" />
                </div>
            {{/each}}
        </div>   

        <fieldset>
            <legend>
                {{localize "DAGGERHEART.SETTINGS.Homebrew.currency.title"}} 
            </legend>
            {{formGroup settingFields.schema.fields.currency.fields.enabled value=settingFields._source.currency.enabled localize=true}}
            {{formGroup settingFields.schema.fields.currency.fields.title value=settingFields._source.currency.title localize=true}}
            {{formGroup settingFields.schema.fields.currency.fields.coins value=settingFields._source.currency.coins localize=true}}
            {{formGroup settingFields.schema.fields.currency.fields.handfulls value=settingFields._source.currency.handfulls localize=true}}
            {{formGroup settingFields.schema.fields.currency.fields.bags value=settingFields._source.currency.bags localize=true}}
            {{formGroup settingFields.schema.fields.currency.fields.chests value=settingFields._source.currency.chests localize=true}}
            
        </fieldset>
    </div>
</section>